@charset "utf-8";
body { margin:0; padding:0; background:#fff; font-family: "微软雅黑"; font-size:14px; color:#666;}
a {text-decoration:none;cursor:pointer;}
img{ border:none;}
p{ margin:0; padding:0;}
/*登录页样式*/
.login_a{ width:1080px; height:160px; margin:0 auto; }
.login_a1{ width:680px; height:76px; margin:0 auto; padding:40px 0 0 0;}
.login_b{ width:100%; height:556px; background:url(../images/login-bg.jpg) no-repeat center top; min-width:1080px; }
.login_b1{width:1080px; height:556px;margin:0 auto;}
.login_b1a{ width:630px; height:556px; float:left;}
.login_b1b{ width:516px; height:160px;margin:0 auto;padding:60px 0 0 0;}
.login_b2{ width:394px; height:380px; float:right;padding:80px 50px 0 0;}
.login_b2a{width:394px; height:380px; background:url(../images/login-bg2.png) no-repeat;}
.login_b2b{width:394px; height:52px;padding:43px 0 0 0; text-align:center; line-height:52px; font-size:24px; color:#FFF;}
.login_b2c{ width:314px; height:auto; margin:0 auto; padding:20px 0;}
.login_b2ca{ height:36px; line-height:36px; padding:15px 0;}
.login_b2ca span{ display:block; float:left;}
.login_b2ca1{ width:76px; font-size:16px;}
.login_b2ca2{ width:236px;}
.login_b2ca2 input{ width:226px; height:34px; border:1px #ccc solid; padding:0 5px;font-family: "微软雅黑"; font-size:14px; color:#666; line-height:34px;}
.login_b2ca3{ width:236px;}
.login_b2ca3 input{margin-left: 76px;display:block; width:160px; height:44px; border: none; font-family: "微软雅黑"; font-size:18px; color:#fff; cursor:pointer;}
.input_out{display:block;width:160px; height:44px;background:#0572c1;}
.input_move{display:block;width:160px; height:44px;background:#eeac09;}
.logo_foot{ width:1080px; line-height:30px; padding:30px 0; margin:0 auto; text-align:center; }
.logo_foot a{ color:#0572c1;}
.logo_foot a:hover{color:#ee6b0c;}
/*欢迎页样式*/
.hyy_top{ width:100%; height:80px;background: url(../images/hyytbg-4.png) repeat-x center top; min-width:1080px;}
.hyy_top1{ width:1080px; height:74px; margin:0 auto;}
.hyy_logo{ width:404px; height:74px; float:left;}
.hyy_g{ float:right; line-height:74px; color:#FFF;}
.hyy_g a{ color:#FFF;}
.hyy_g a:hover{color:#ee6b0c;}
.hyy_cont{ width:1080px; height:auto; margin:0 auto;}
.hyy_bt{ width:684px; height:146px; margin:0 auto; padding:60px 0;}
.hyy_bm ul{ margin:0; padding:0;height:198px;}
.hyy_bm ul li{ display:block; float:left; width:216px; height:198px; list-style:none; text-align:center;}
.hyy_bm ul li p{ line-height:40px; font-size:18px;}
.hyy_bm ul li a{ color:#333; }
.hyy_bm ul li a:hover{color:#ee6b0c;}
.hyy_foot{ width:50%; height:30px; line-height:30px; text-align:center; position: fixed; left:25%; bottom:40px; color:#FFF;}