<div class="col-md-12">
    <form role="form" class="uploadFile_oil_analysis">
        <div class="form-group">
            <label for="excel" class="col-md-3">上传润滑油、润滑脂标准汇总统计表</label>
            <input class="col-md-3" type="file" id="excel" name="excel"/>
            <a href="javascript:void (0)"
               class="btn btn-default col-md-2 upload_oil_analysis"
               data-param="exceltype=const">上传
            </a>
        </div>
    </form>
</div>

<div class="col-md-12 column">
    <table class="table table-hover table-bordered table-condensed">
        <thead>
        <tr>
            <th>
                编号
            </th>
            <th>
                产品
            </th>
            <th>
                交付时间
            </th>
            <th>
                状态
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                1
            </td>
            <td>
                TB - Monthly
            </td>
            <td>
                01/04/2012
            </td>
            <td>
                Default
            </td>
        </tr>
        </tbody>
    </table>
</div>