<div class="col-md-12">
    <form role="form" class="uploadForm">
        <div class="form-group">
            <label for="excel" class="col-md-3">上传润滑标准</label>
            <input class="col-md-3" type="file" id="excel" name="excel"/>
            <a href="javascript:void (0)"
               class="btn btn-default col-md-2 upload_excel"
               data-param="exceltype=oilstandard">上传
            </a>
        </div>
    </form>
</div>
<div class="row clearfix" id="oil_standard_list">
    <div class="col-md-12 column">
        <div class="row clearfix">
            <div class="col-md-2 column">
                <ul class="list-group" id="equ_list">

                </ul>
            </div>
            <div class="col-md-10 column">
                <div class="tabbable" id="tabs-914403">
                    <div class="tab-content" id="oil_table">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-container-188821" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                你确认要删除该条目？
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary del-save" data-dismiss="modal">确认</button>
            </div>
        </div>

    </div>

</div>
<script id="OilStandardTemplate1" type="text/html">
    <li class="list-group-item equ_item">
        <a href="#panel-${equ_no}" data-toggle="tab">${equ_name}</a>
    </li>
</script>
<script id="OilStandardTemplate2" type="text/html">
    <div class="tab-pane oil_tab" id="panel-${equ_no}">
        <table class="table">
            <thead>
            <tr>
                <th>
                    设备编号
                </th>
                <th>
                    润滑点编号
                </th>
                <th>
                    润滑点名称
                </th>
                <th>
                    物料编号
                </th>
                <th>
                    用量
                </th>
                <th>
                    单位
                </th>
                <th>
                    首保周期
                </th>
                <th>
                    最长更换周期
                </th>
                <th>
                    油脂采样间隔
                </th>
                <th>
                    操作
                </th>
            </tr>
            </thead>
            <tbody>
            {{each oil_standard_list}}
            <tr>
                <td class="equ_no">
                    ${$value.equ_no}
                </td>
                <td data-id="${$value.id}" data-key="equ_oil_no">
                    ${$value.equ_oil_no}
                </td>
                <td data-id="${$value.id}" data-key="oil_name">
                    ${$value.oil_name}
                </td>
                <td data-id="${$value.id}" data-key="oil_no">
                    ${$value.oil_no}
                </td>
                <td data-id="${$value.id}" data-key="quantity">
                    ${$value.quantity}
                </td>
                <td data-id="${$value.id}" data-key="unit">
                    ${$value.unit}
                </td>
                <td data-id="${$value.id}" data-key="first_period">
                    ${$value.first_period}
                </td>
                <td data-id="${$value.id}" data-key="period">
                    ${$value.period}
                </td>
                <td data-id="${$value.id}" data-key="interval">
                    ${$value.interval}
                </td>
                <td data-id="${$value.id}">
                    <a href="#modal-container-188821" data-toggle="modal" class="btn btn-sm btn-danger del_oil_item"
                       >删除</a>
                </td>
            </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</script>
<script>
    var stan_flag = true;
    $(document).on('click', '.standard', function () {
        if (stan_flag) {
            window.base.getOilStandardList(function (list) {
                console.log(list);
                $('#OilStandardTemplate1').tmpl(list).appendTo('#equ_list');
                $('#OilStandardTemplate2').tmpl(list).appendTo('#oil_table');
                $('.equ_item:first').addClass('active');
                $('.oil_tab:first').addClass('active');
            });
        }
        stan_flag = false;
    });

    $(document).on('click', '.upload_excel', function () {
        var param = $(this).data('param');
        var params = {
            url: 'document/oil/upload?' + param + '&XDEBUG_SESSION_START=12092',
            data: new FormData($(this).parent().parent()[0]),
            sCallback: function (data) {
                alert('上传成功');
                window.location.reload();
            },
            eCallback: function (err) {
                console.log(err);
            }
        };
        window.base.uploadFile(params);
    });
//    $(document).on('click', '.del_btn', function () {
//        var equ_no = $(this).data('equ_no');
//        $('#delete_equ').click(function () {
//            var params = {
//                url: 'document/oilstandard/delete_equ/' + equ_no + '?XDEBUG_SESSION_START=10628',
//                type: 'delete',
//                sCallback: function (data) {
//                    window.location.reload();
//                },
//                eCallback: function (err) {
//                    alert(err.msg);
//                }
//            };
//            window.base.getData(params);
//        });
//    });
    $(document).on('click', '.del_oil_item', function (e) {
        var id = $(this).parent().data('id'),
            _this = $(this);
        e.stopPropagation();
        $('.del-save').click(function () {
            var params = {
                url: 'document/oilstandard/del/' + id,
                type: 'delete',
                sCallback: function (data) {
                    _this.parent().parent().hide().remove();
                },
                eCallback: function (err) {
                    alert(err.msg);
                }
            };
            window.base.getData(params);
        });
    });
    $('#oil_table').on('dblclick', 'td', function () {
        var _this = $(this),
            oldVal = _this.html(),
            url = 'document/oilstandard/edititem/';
        _this.html('<input type="text" value="' + oldVal + '">');
        var input = _this.find('input');
        input.select();
        window.base.editItemByDblClick(_this, input, oldVal, url);
    });

</script>