<div class="col-md-12">
    <form role="form" class="uploadForm">
        <div class="form-group">
            <label for="excel" class="col-md-3">上传润滑标准</label>
            <input class="col-md-3" type="file" id="excel" name="excel"/>
            <a href="javascript:void (0)"
               class="btn btn-default col-md-2 upload_excel"
               data-param="exceltype=oilstandard">上传
            </a>
        </div>
    </form>
</div>
<div class="row clearfix">
    <div class="col-md-12 column">
        <div class="row clearfix">
            <div class="col-md-2 column">
                <ul class="list-group" id="equ_list">
                </ul>
            </div>
            <div class="col-md-10 column">
                <div class="tabbable" id="tabs-914403">
                    <div class="tab-content">
                        <div class="tab-pane active" id="panel-500537">
                            <p>
                                I'm in Section 1.
                            </p>
                        </div>
                        <div class="tab-pane" id="panel-105926">
                            <p>
                                Howdy, I'm in Section 2.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $(document).on('click', '.standard', function () {
            var markup = '<li class="list-group-item"><a href="#panel-${equ_name}" data-toggle="tab">${equ_name}</a></li>';
            $.template('equTemplate', markup);
            window.base.getEquipmentList(function (list) {
                $.tmpl('equTemplate', list).appendTo("#equ_list");
                $('#equ_list').children('li:first').addClass('active');
            });
        });


        $(document).on('click', '.upload_excel', function () {
            var param = $(this).data('param');
            var params = {
                url: 'document/oil/upload?' + param + '&XDEBUG_SESSION_START=10697',
                data: new FormData($(this).parent().parent()[0]),
                sCallback: function (data) {

                },
                eCallback: function (err) {
                    alert(err.msg);
                }
            };
            window.base.uploadFile(params);
        });
        $(document).on('click', '.del_btn', function () {
            var equ_no = $(this).data('equ_no');
            $('#delete_equ').click(function () {
                var params = {
                    url: 'document/oilstandard/delete_equ/' + equ_no + '?XDEBUG_SESSION_START=10628',
                    type: 'delete',
                    sCallback: function (data) {
                        window.location.reload();
                    },
                    eCallback: function (err) {
                        alert(err.msg);
                    }
                };
                window.base.getData(params);
            });
        });
    });
</script>