<?php require(APP_PATH.'/oiling/view/user/common/header.html');?>
<div id="container">
    <div id="hd">
        <div class="hd-wrap ue-clear">
            <div class="top-light"></div>
            <h1 class="logo"></h1>
            <div class="login-info ue-clear">
                <div class="welcome ue-clear">欢迎您,&nbsp;*{$account}</div>
            </div>
            <div class="toolbar ue-clear">
                <a href="/" class="home-btn">首页</a>
                <a href="javascript:;" class="quit-btn exit"></a>
            </div>
        </div>
    </div>
    <div id="bd">
        <div class="wrap ue-clear">
            <div class="sidebar">
                <h2 class="sidebar-header"><p>功能导航</p></h2>
                <ul class="nav">
                    <li class="office current">
                        <div class="nav-header"><a href="/user/center" class="ue-clear"><span>个人中心</span><i
                                class="icon"></i></a></div>
                    </li>
                    *{if condition="$scope==36"}
                    <li class="gongwen">
                        <div class="nav-header"><a href="/user/system" class="ue-clear"><span>系统管理</span><i
                                class="icon"></i></a></div>
                    </li>
                    *{/if}
                </ul>
            </div>
            <div class="content">
                <div class="title ue-clear">
                    <h2>个人中心</h2>
                </div>
                <div class="content">
                    <div class="article matter">
                        <div class="title ue-clear"
                             style=" border:none; border-bottom:1px #CCCCCC solid; background:#f1f1f1; height:33px;">
                            <h2 class="title-list">
                                <ul class="ue-clear">
                                    <li class="current"><a href="javascript:;">基本信息</a></li>
                                    <li><a href="javascript:;">修改密码</a></li>
                                </ul>
                            </h2>
                        </div>
                        <div class="content" style=" border:none; height:auto; ">
                            <div class="matter-content current ue-clear">
                                <div class="main" style=" border:none; padding:20px; ">
                                    <table>
                                        <tr>
                                            <th>账 号：</th>
                                            <td class="edit-item" data-id="*{$userDetail.id}" data-key="account">*{$account}</td>
                                        </tr>
                                        <tr>
                                            <th>姓 名：</th>
                                            <td class="edit-item" data-id="*{$userDetail.id}" data-key="name">*{$userName}</td>
                                        </tr>
                                        <tr>
                                            <th>电 话：</th>
                                            <td class="edit-item" data-id="*{$userDetail.id}" data-key="phone">*{$userDetail.phone}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="matter-content ue-clear">
                                <div class="main" style=" border:none; padding:20px; ">
                                    <p class="short-input ue-clear">
                                        <label>原始密码：</label>
                                        <input id="oldPwd" type="password" placeholder="原始密码"/>
                                        <!--<span><em>*</em>请输入正确的时间格式</span>-->
                                    </p>
                                    <p class="short-input ue-clear">
                                        <label>新的密码：</label>
                                        <input id="newPwd" type="password" placeholder="新的密码"/>
                                    </p>
                                    <p class="short-input ue-clear">
                                        <label>确认新的密码：</label>
                                        <input id="reNewPwd" type="password" placeholder="新的密码"/>
                                    </p>
                                </div>
                                <div class="btn ue-clear" style=" border:none; ">
                                    <a href="javascript:;" class="confirm user-confirm" data-id="*{$userDetail.id}">确定修改</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div id="ft" class="ue-clear">
            <div class="ft-left">
                <span>神华集团</span>
                <em>设备润滑管理系统</em>
            </div>
            <div class="ft-right">
                <span>非同科技</span>
                <em>2017</em>
            </div>
        </div>
    </div>
</div>
<?php require(APP_PATH.'/oiling/view/user/common/exitDialog.html');?>
<?php require(APP_PATH.'/oiling/view/user/common/footer.html');?>
<script>
    //编辑润滑标准条目信息
    $(document).on('dblclick', '.edit-item', function (e) {
        var _this = $(this),
            oldVal = _this.html(),
            url = 'user/center/edit/';
        oldVal = oldVal.replace(/(^\s*)|(\s*$)/g, "");
        if (oldVal == 'admin') {
            alert('超级管理员账号不可以更改');
            return false;
        }
        var long =oldVal.length?(oldVal.length * 12):'20';
        if (!/input/.test(oldVal)) {
            _this.html('<input type="text" value="' + oldVal + '" style="width: ' + long + 'px;height:16px;outline: none">');
        }
        var input = _this.find('input');
        input.select();
        window.base.editItemByDblClick(_this, input, oldVal, url, function () {
//            window.location.reload();
        }, function (err) {
            if (err.account) alert(err.account);
            if (err.name) alert(err.name);
            if (err.phone) alert(err.phone);
        });
    });
    //选项卡
    $('.tab-pane li').click(function (e) {
        $(this).addClass('active').siblings().removeClass('active');
        $('.tab-content>div').eq($(this).index()).addClass('active').siblings().removeClass('active')
    });
    //修改密码
    $('.user-confirm').click(function () {
        var oldPwd = $('#oldPwd').val(),
            newPwd = $('#newPwd').val(),
            reNewPwd = $('#reNewPwd').val(),
            id = $(this).data('id');
        if (!oldPwd) {
            alert('请输入原始密码');
            return false;
        }
        if (!newPwd) {
            alert('请输入新的密码');
            return false;
        } else if (newPwd.length < 6) {
            alert('密码位数需要大于等于6位');
            return false;
        }
        if (!reNewPwd) {
            alert('请输入确认新的密码');
            return false;
        }
        if (newPwd != reNewPwd) {
            alert('新密码和确认新密码不一样');
            return false;
        }
        var params = {
            url: '/user/center/modpwd',
            type: 'post',
            data: {
                id: id,
                oldpwd: oldPwd,
                newpwd: newPwd
            },
            sCallback: function (data) {
                alert(data.msg);
                window.location.reload();
            },
            eCallback: function (err) {
                alert(err.msg);
            }
        };
        window.base.getData(params);
    });
    $(".title-list ul").on("click", "li", function () {
        var aIndex = $(this).index();
        $(this).addClass("current").siblings().removeClass("current");
        $(".matter-content").removeClass("current").eq(aIndex).addClass("current");
    });

    $(".duty").find("tbody").find("tr:even").css("backgroundColor", "#eff6fa");
</script>