<?php require(APP_PATH.'/oiling/view/user/common/header.html');?>
<div id="container">
    <div id="hd">
        <div class="hd-wrap ue-clear">
            <div class="top-light"></div>
            <h1 class="logo"></h1>
            <div class="login-info ue-clear">
                <div class="welcome ue-clear">欢迎您,&nbsp;*{$account}</div>
            </div>
            <div class="toolbar ue-clear">
                <a href="/" class="home-btn">首页</a>
                <a href="javascript:;" class="quit-btn exit"></a>
            </div>
        </div>
    </div>
    <div id="bd">
        <div class="wrap ue-clear">
            <div class="sidebar">
                <h2 class="sidebar-header"><p>功能导航</p></h2>
                <ul class="nav">
                    <li class="office current">
                        <div class="nav-header"><a href="/user/center" class="ue-clear"><span>个人中心</span><i
                                class="icon"></i></a></div>
                    </li>
                    *{if condition="$scope==36"}
                    <li class="gongwen">
                        <div class="nav-header"><a href="/user/system" class="ue-clear"><span>系统管理</span><i
                                class="icon"></i></a></div>
                    </li>
                    *{/if}
                </ul>
            </div>
            <div class="content">
                <div class="title">
                    <h2>个人中心</h2>
                </div>
                <div class="content-box">
                    <ul class="tab-pane title">
                        <li class="active">基本信息</li>
                        <li>修改密码</li>
                    </ul>
                    <div class="tab-content">
                        <div class="user-base active">
                            <table>
                                <tr>
                                    <td class="head">账号</td>
                                    <td class="detail edit-item" data-id="*{$userDetail.id}" data-key="account">
                                        *{$userDetail.account}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="head">姓名</td>
                                    <td class="detail edit-item" data-id="*{$userDetail.id}" data-key="name">
                                        *{$userDetail.name}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="head">电话号码</td>
                                    <td class="detail edit-item" data-id="*{$userDetail.id}" data-key="phone">
                                        *{$userDetail.phone}
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="mod-password">
                            <table>
                                <tr>
                                    <td>原始密码</td>
                                    <td><input type="password" id="oldPwd"></td>
                                </tr>
                                <tr>
                                    <td>新的密码</td>
                                    <td><input type="password" id="newPwd"></td>
                                </tr>
                                <tr>
                                    <td>确认新的密码</td>
                                    <td><input type="password" id="reNewPwd"></td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <a href="javascript:;" class="user-confirm" data-id="*{$userDetail.id}">确认修改</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="ft" class="ue-clear">
            <div class="ft-left">
                <span>神华集团</span>
                <em>设备润滑管理系统</em>
            </div>
            <div class="ft-right">
                <span>非同科技</span>
                <em>2017</em>
            </div>
        </div>
    </div>
</div>
<?php require(APP_PATH.'/oiling/view/user/common/exitDialog.html');?>
<?php require(APP_PATH.'/oiling/view/user/common/footer.html');?>
<script>
    //编辑润滑标准条目信息
    $(document).on('dblclick', '.edit-item', function (e) {
        var _this = $(this),
            oldVal = _this.html(),
            url = 'user/center/edit/';
        oldVal = oldVal.replace(/(^\s*)|(\s*$)/g, "");
        if (oldVal == 'admin') {
            alert('超级管理员账号不可以更改');
            return false;
        }
        var long = oldVal.length * 12;
        if (!/input/.test(oldVal)) {
            _this.html('<input type="text" value="' + oldVal + '" style="width: ' + long + 'px;height:16px;outline: none">');
        }
        var input = _this.find('input');
        input.select();
        window.base.editItemByDblClick(_this, input, oldVal, url, function () {
//            window.location.reload();
        }, function (err) {
            if (err.account) alert(err.account);
            if (err.name) alert(err.name);
            if (err.phone) alert(err.phone);
        });
    });
    //选项卡
    $('.tab-pane li').click(function (e) {
        $(this).addClass('active').siblings().removeClass('active');
        $('.tab-content>div').eq($(this).index()).addClass('active').siblings().removeClass('active')
    });
    //修改密码
    $('.user-confirm').click(function () {
        var oldPwd = $('#oldPwd').val(),
            newPwd = $('#newPwd').val(),
            reNewPwd = $('#reNewPwd').val(),
            id = $(this).data('id');
        if (!oldPwd) {
            alert('请输入原始密码');
            return false;
        }
        if (!newPwd) {
            alert('请输入新的密码');
            return false;
        } else if (newPwd.length < 6) {
            alert('密码位数需要大于等于6位');
            return false;
        }
        if (!reNewPwd) {
            alert('请输入确认新的密码');
            return false;
        }
        if (newPwd != reNewPwd) {
            alert('新密码和确认新密码不一样');
            return false;
        }
        var params = {
            url: '/user/center/modpwd',
            type: 'post',
            data: {
                id: id,
                oldpwd: oldPwd,
                newpwd: newPwd
            },
            sCallback: function (data) {
                alert(data.msg);
                window.location.reload();
            },
            eCallback: function (err) {
                alert(err.msg);
            }
        };
        window.base.getData(params);
    })
</script>