<?php require(APP_PATH.'/oiling/view/user/common/header.html');?>
<div id="container">
    <div id="hd">
        <div class="hd-wrap ue-clear">
            <div class="top-light"></div>
            <h1 class="logo"></h1>
            <div class="login-info ue-clear">
                <div class="welcome ue-clear">欢迎您,&nbsp;<a style="color: #fff;"
                                                           href="/user/center">&nbsp;*{$account}</a></div>
            </div>
            <div class="toolbar ue-clear">
                <a href="/" class="home-btn">首页</a>
                <a href="javascript:;" class="quit-btn exit"></a>
            </div>
        </div>
    </div>
    <div id="bd">
        <div class="wrap ue-clear">
            <div class="sidebar">
                <h2 class="sidebar-header"><p>功能导航</p></h2>
                <ul class="nav">
                    <li class="office">
                        <div class="nav-header"><a href="/user/center" class="ue-clear"><span>个人中心</span><i
                                class="icon"></i></a></div>
                    </li>
                    <li class="gongwen current">
                        <div class="nav-header"><a href="/user/system" class="ue-clear"><span>系统管理</span><i
                                class="icon"></i></a></div>
                    </li>
                </ul>
            </div>
            <div class="content">
                <div class="title ue-clear">
                    <h2>系统管理</h2>
                    <a href="javascript:;" class="more">返回</a>
                </div>
                <div class="content">
                    <div class="article matter">
                        <div class="title ue-clear"
                             style=" border:none; border-bottom:1px #CCCCCC solid; background:#f1f1f1; height:33px;">
                            <h2 class="title-list">
                                <ul class="ue-clear">
                                    <li class="current"><a href="javascript:;">账户管理</a></li>
                                    <li><a href="javascript:;">参数配置</a></li>
                                </ul>
                            </h2>
                        </div>
                        <div class="content" style=" border:none; height:auto; ">
                            <div class="matter-content current ue-clear">
                                <div class="table-operate ue-clear">
                                    <a href="javascript:;" class="add addMember">添加</a>
                                </div>
                                <div class="table-box">
                                    <table style=" border:none;  ">
                                        <thead>
                                        <tr>
                                            <th class="name" style="width: 10px;text-align: center;">ID</th>
                                            <th class="name">账号</th>
                                            <th class="process">用户名</th>
                                            <th class="node">电话</th>
                                            <th class="time">权限</th>
                                            <th class="operate">操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        *{foreach $users as $k=> $user}
                                        <tr style="border-bottom:1px #ddd solid; ">
                                            <td class="name" style="width: 10px;text-align: center;">*{$k+1}</td>
                                            <td class="name">*{$user.account}</td>
                                            <td class="process">*{$user.name}</td>
                                            <td class="node">*{$user.phone}</td>
                                            <td class="time">
                                                *{if condition="$user.scope==36"}
                                                超级管理员
                                                *{else/}
                                                <select class="scopeModify" data-id="*{$user.id}">
                                                    <option value="18" *{if condition="$user.scope==18" }selected*{/if}>系统维护员</option>
                                                    <option value="9" *{if condition="$user.scope==9" }selected*{/if}>普通工作人员</option>
                                                </select>
                                                *{/if}
                                            </td>

                                            <td class="operate table-operate">
                                                *{if condition="$user.scope!=36"}
                                                <a href="javascript:;" class="del del-member"
                                                   data-id="*{$user.id}">删除</a>
                                                *{/if}
                                            </td>
                                        </tr>
                                        *{/foreach}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="matter-content ue-clear">

                                <div class="main" style=" border:none; padding:20px; ">
                                    <table>
                                        <tr>
                                            <th>临近状态时长：</th>
                                            <td class="edit-item" data-id="1" data-key="postpone">*{$config.postpone}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Fe：</th>
                                            <td class="edit-item" data-id="1" data-key="Fe">*{$config.Fe}</td>
                                        </tr>
                                        <tr>
                                            <th>Cu：</th>
                                            <td class="edit-item" data-id="1" data-key="Cu">*{$config.Cu}</td>
                                        </tr>
                                        <tr>
                                            <th>Al：</th>
                                            <td class="edit-item" data-id="1" data-key="Al">*{$config.Al}</td>
                                        </tr>
                                        <tr>
                                            <th>Si：</th>
                                            <td class="edit-item" data-id="1" data-key="Si">*{$config.Si}</td>
                                        </tr>
                                        <tr>
                                            <th>Na：</th>
                                            <td class="edit-item" data-id="1" data-key="Na">*{$config.Na}</td>
                                        </tr>
                                        <tr>
                                            <th>PQ：</th>
                                            <td class="edit-item" data-id="1" data-key="pq">*{$config.pq}</td>
                                        </tr>
                                        <tr>
                                            <th>粘度最小值：</th>
                                            <td class="edit-item" data-id="1" data-key="viscosity_min">
                                                *{$config.viscosity_min}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>粘度最大值：</th>
                                            <td class="edit-item" data-id="1" data-key="viscosity_max">
                                                *{$config.viscosity_max}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="tanchuang">
                <div class="hint add-member">
                    <div class="hint-in1">
                        <div class="hint1"></div>
                        <div class="hint2">添加员工</div>
                        <div class="hint3"></div>
                    </div>
                    <div class="hint-in2">
                        <div class="hint-in2a">
                            <span class="hint-in2a1">账号：</span>
                            <span class="hint-in2a2"><input id="account"
                                                            name=""
                                                            type="text"
                                                            placeholder="请输入账号"
                                                            class="account">
                                </span>
                        </div>
                        <div class="hint-in2a">
                            <span class="hint-in2a1">用户名：</span>
                            <span class="hint-in2a2"><input id="name"
                                                            name=""
                                                            type="text"
                                                            placeholder="请输入用户名"
                                                            class="name"></span>
                        </div>

                        <div class="hint-in2a">
                            <span class="hint-in2a1">手机：</span>
                            <span class="hint-in2a2"><input id="phone"
                                                            name=""
                                                            type="text"
                                                            placeholder="请输入手机号（选填）"
                                                            class=""></span>
                        </div>
                        <div class="hint-in2a">
                            <span class="hint-in2a1">密码：</span>
                            <span class="hint-in2a2"><input id="pwd"
                                                            name=""
                                                            type="text"
                                                            placeholder="请输入密码"
                                                            class="pwd"></span>
                        </div>
                        <div class="hint-in2a">
                            <span class="hint-in2a1">权限：</span>
                            <span class="hint-in2a2 scope">
                                <label for="secondMember">系统维护员</label>
                                <input type="radio" id="secondMember" name="member" class="radio" value="18">
                                <label for="thirdMember" style="padding-left: 10px">普通工作人员</label>
                                <input type="radio" id="thirdMember" name="member" class="radio" value="9">
                            </span>
                        </div>

                    </div>
                    <a class="hint-in3 member-confirm" href="#">确定</a>
                </div>
                <div class="hintl account-del">
                    <div class="hintl-in1">
                        <div class="hintl1"></div>
                        <div class="hintl2">账户删除窗口</div>
                        <div class="hint3"></div>
                    </div>
                    <div class="hintl-in2">是否删除该账户？</div>
                    <a class="hintl-in3 confirm-del" href="javascript:;">是</a>
                    <a class="hintl-in4" href="javascript:;">否</a>
                </div>
                <div class="hintl scope-mod">
                    <div class="hintl-in1">
                        <div class="hintl1"></div>
                        <div class="hintl2">修改权限窗口</div>
                        <div class="hint3"></div>
                    </div>
                    <div class="hintl-in2">确定修改该用户权限？</div>
                    <a class="hintl-in3 confirm-scope" href="javascript:;">是</a>
                    <a class="hintl-in4" href="javascript:;">否</a>
                </div>
            </div>
        </div>
        <div id="ft" class="ue-clear">
            <div class="ft-left">
                <span>神华集团</span>
                <em>设备润滑管理系统</em>
            </div>
            <div class="ft-right">
                <span>非同科技</span>
                <em>2017</em>
            </div>
        </div>
    </div>
</div>
<?php require(APP_PATH.'/oiling/view/user/common/exitDialog.html');?>
<?php require(APP_PATH.'/oiling/view/user/common/footer.html');?>
<script>
    //选项卡
    $('.tab-pane li').click(function (e) {
        $(this).addClass('active').siblings().removeClass('active');
        $('.tab-content>div').eq($(this).index()).addClass('active').siblings().removeClass('active')
    });
    //修改参数
    $(document).on('dblclick', '.edit-item', function (e) {
        var _this = $(this),
            oldVal = _this.html(),
            url = 'user/system/varedit/';
        oldVal = oldVal.replace(/(^\s*)|(\s*$)/g, "");
        var long = oldVal.length * 12;
        if (!/input/.test(oldVal)) {
            _this.html('<input type="text" value="' + oldVal + '" style="width: 30px;height:16px;outline: none">');
        }
        var input = _this.find('input');
        input.select();
        window.base.editItemByDblClick(_this, input, oldVal, url, function () {
//            window.location.reload();
        }, function (err) {
            if (err.account) alert(err.account);
            if (err.name) alert(err.name);
            if (err.phone) alert(err.phone);
        });
    });
    $(".title-list ul").on("click", "li", function () {
        var aIndex = $(this).index();
        $(this).addClass("current").siblings().removeClass("current");
        $(".matter-content").removeClass("current").eq(aIndex).addClass("current");
    });

    $(".duty").find("tbody").find("tr:even").css("backgroundColor", "#eff6fa");

    //添加员工
    $('.addMember').click(function (e) {
        e.stopPropagation();
        $('.hint').show(100);
        var flag = true;
        $('.member-confirm').click(function (e) {
            e.stopPropagation();
            var account = $('#account').val(),
                name = $('#name').val(),
                phone = $('#phone').val(),
                password = $('#pwd').val(),
                scope = 0;

            $('.radio').each(function (i, v) {
                if ($(this).attr('checked')) {
                    scope = $(this).val();
                    console.log(scope);
                }
            });
            var params = {
                url: 'user/system/addUser?XDEBUG_SESSION_START=16433',
                type: 'post',
                data: {
                    account: account,
                    name: name,
                    password: password,
                    phone: phone,
                    scope: scope
                },
                sCallback: function (data) {
                    alert(data.msg);
                    window.location.reload();
                },
                eCallback: function (err) {
                    console.log(err);
                    if (err.errcode == 2) {
                        err.msg.account && alert(err.msg.account);
                        err.msg.password && alert(err.msg.password);
                        err.msg.phone && alert(err.msg.phone);
                    } else if (err.errcode == 1) {
                        alert(err.msg);
                    }
                }
            };
            if (flag) {
                window.base.getData(params);
                flag = false;
            }
        });

    });

    //删除员工
    $('.del-member').click(function (e) {
        var id = $(this).data('id');
        $('.account-del').show(100);
        $('.confirm-del').click(function (e) {
            e.stopPropagation();
            var params = {
                url: 'user/system/deluser/' + id,
                type: 'delete',
                sCallback: function (data) {
                    alert(data.msg);
                    window.location.reload();
                },
                eCallback: function (err) {
                    alert(err.msg)
                }
            };
            window.base.getData(params);
        });
    });
    $('.scopeModify').change(function (e) {
        e.stopPropagation();
        var scope = $(this).val(),
            id = $(this).data('id');
        $('.scope-mod').show(100);
        $('.confirm-scope').click(function (e) {
            e.stopPropagation();
            var params = {
                url: 'user/system/modscope',
                type: 'post',
                data: {id: id, scope: scope},
                sCallback: function (data) {
                    alert(data.msg);
                },
                eCallback: function (err) {
                    alert(err.msg);
                }
            };
            window.base.getData(params);
        });
    });
</script>