<?php require(APP_PATH.'/oiling/view/user/common/header.html');?>
<div id="container">
    <div id="hd">
        <div class="hd-wrap ue-clear">
            <div class="top-light"></div>
            <h1 class="logo"></h1>
            <div class="login-info ue-clear">
                <div class="welcome ue-clear">欢迎您,&nbsp;<a style="color: #fff;"
                                                           href="/user/center">&nbsp;*{$account}</a></div>
            </div>
            <div class="toolbar ue-clear">
                <a href="/" class="home-btn">首页</a>
                <a href="javascript:;" class="quit-btn exit"></a>
            </div>
        </div>
    </div>
    <div id="bd">
        <div class="wrap ue-clear">
            <div class="sidebar">
                <h2 class="sidebar-header"><p>功能导航</p></h2>
                <ul class="nav">
                    <li class="office">
                        <div class="nav-header"><a href="/user/center" class="ue-clear"><span>个人中心</span><i
                                class="icon"></i></a></div>
                    </li>
                    <li class="gongwen current">
                        <div class="nav-header"><a href="/user/system" class="ue-clear"><span>系统管理</span><i
                                class="icon"></i></a></div>
                    </li>
                </ul>
            </div>
            <div class="content">
                <div class="title">
                    <h2>系统管理</h2>
                </div>
                <div class="content-box">
                    <ul class="tab-pane title">
                        <li class="active">参数变量配置</li>
                        <li>账户管理</li>
                    </ul>
                    <div class="tab-content">
                        <div class="user-base active">
                            <table>
                                <tr>
                                    <td>临近状态时间</td>
                                    <td class="edit-item" data-id="*{$config.id}" data-key="postpone">
                                        *{$config.postpone}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Fe</td>
                                    <td class="edit-item" data-id="*{$config.id}" data-key="Fe">*{$config.Fe}</td>
                                </tr>
                                <tr>
                                    <td>Cu</td>
                                    <td class="edit-item" data-id="*{$config.id}" data-key="Cu">*{$config.Cu}</td>
                                </tr>
                                <tr>
                                    <td>Al</td>
                                    <td class="edit-item" data-id="*{$config.id}" data-key="Al">*{$config.Al}</td>
                                </tr>
                                <tr>
                                    <td>Si</td>
                                    <td class="edit-item" data-id="*{$config.id}" data-key="Si">*{$config.Si}</td>
                                </tr>
                                <tr>
                                    <td>Na</td>
                                    <td class="edit-item" data-id="*{$config.id}" data-key="Na">*{$config.Na}</td>
                                </tr>
                                <tr>
                                    <td>PQ</td>
                                    <td class="edit-item" data-id="*{$config.id}" data-key="pq">*{$config.pq}</td>
                                </tr>
                                <tr>
                                    <td>粘度最小值</td>
                                    <td class="edit-item" data-id="*{$config.id}" data-key="viscosity_min">
                                        *{$config.viscosity_min}
                                    </td>
                                </tr>
                                <tr>
                                    <td>粘度最大值</td>
                                    <td class="edit-item" data-id="*{$config.id}" data-key="viscosity_max">
                                        *{$config.viscosity_max}
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="mod-password">
                            <table>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="ft" class="ue-clear">
            <div class="ft-left">
                <span>神华集团</span>
                <em>设备润滑管理系统</em>
            </div>
            <div class="ft-right">
                <span>非同科技</span>
                <em>2017</em>
            </div>
        </div>
    </div>
</div>
<?php require(APP_PATH.'/oiling/view/user/common/exitDialog.html');?>
<?php require(APP_PATH.'/oiling/view/user/common/footer.html');?>
<script>
    //选项卡
    $('.tab-pane li').click(function (e) {
        $(this).addClass('active').siblings().removeClass('active');
        $('.tab-content>div').eq($(this).index()).addClass('active').siblings().removeClass('active')
    });
    //修改参数
    $(document).on('dblclick', '.edit-item', function (e) {
        var _this = $(this),
            oldVal = _this.html(),
            url = 'user/system/varedit/';
        oldVal = oldVal.replace(/(^\s*)|(\s*$)/g, "");
        var long = oldVal.length * 12;
        if (!/input/.test(oldVal)) {
            _this.html('<input type="text" value="' + oldVal + '" style="width: 30px;height:16px;outline: none">');
        }
        var input = _this.find('input');
        input.select();
        window.base.editItemByDblClick(_this, input, oldVal, url, function () {
//            window.location.reload();
        }, function (err) {
            if (err.account) alert(err.account);
            if (err.name) alert(err.name);
            if (err.phone) alert(err.phone);
        });
    });
</script>