<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>设备管理系统-欢迎页</title>


<link href="__CSS__/login.css" rel="stylesheet" type="text/css" />
</head>

<body style="position:relative;background:url(__IMG__/hyybg-1.jpg) no-repeat top center ;background-attachment:fixed; background-size:cover;   ">

<div class="hyy_top">
   <div class="hyy_top1">
   
     <div class="hyy_logo"><img src="__IMG__/hyy-logo.png" width="404" height="74" /></div>
     <div class="hyy_g">{$account}您好！　<a href="#">个人中心</a>　<a href="/logout">退出</a></div>
   
  </div>


</div>

<div class="hyy_cont">
  <div class="hyy_bt"><img src="__IMG__/hyy-6.png" width="684" height="146" /></div>
  <div class="hyy_bm">
  
   <ul>
    <li> <a href="/oiling/warning"><img src="__IMG__/hyt-1.png" width="148" height="148" />
      
      <P>设备润滑管理</P></a>
      
      </li>
    <li> <a href="#"><img src="__IMG__/hyt-2.png" width="148" height="148" />
      
      <P>设备维修档案管理</P></a>
      
      </li>
       <li> <a href="#"><img src="__IMG__/hyt-3.png" width="148" height="148" />
      
      <P>设备状态监测管理</P></a>
      
      </li>
       <li> <a href="#"><img src="__IMG__/hyt-4.png" width="148" height="148" />
      
      <P>设备台账</P></a>
      
      </li>
       <li> <a href="#"><img src="__IMG__/hyt-5.png" width="148" height="148" />
      
      <P>设备维修计划与总结</P></a>
      
      </li>
   
   </ul>
  
  
  
  </div>


</div>
<div class="hyy_foot">版权所有：赵奇创新工作室　技术支持：<a href="#">非同科技</a></div>


</body>
</html>
