<?php require(APP_PATH.'/user/view/common/header.html');?>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <h2>
                系统管理
            </h2>
            <nav class="navbar navbar-default" role="navigation">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <!-- Nav tabs -->
                    <ul class="nav navbar-nav nav-tabs" role="tablist">
                        <li role="presentation"><a href="document">基础数据录入</a></li>
                        <li role="presentation" class="active"><a href="#authority">员工管理</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="javascript:void (0)">{$userName}</a>
                        </li>
                        <li>
                            <a href="#">个人中心</a>
                        </li>
                        <li>
                            <a href="__ROOT__logout">退出</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="tab-content">
                <div class="col-md-12 column">
                    <table class="table table-hover table-bordered">
                        <thead>
                        <tr>
                            <th>
                                账号
                            </th>
                            <th>
                                姓名
                            </th>
                            <th>
                                电话
                            </th>
                            <th>
                                权限
                            </th>
                            <th>
                                操作
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {foreach $users as $v}
                        <tr>
                            <td>
                                {$v.account}
                            </td>
                            <td>
                                {$v.name}
                            </td>
                            <td>
                                {$v.phone}
                            </td>
                            <td>
                                {if condition="$v.scope==36"}
                                <span style="color:red">超级管理员</span>
                                {elseif condition="$v.scope==18"/}
                                系统维护员
                                {else/}
                                普通工作人员
                                {/if}
                            </td>
                            <td>
                                <a id="edit" href="#modal-container-708375" role="button"
                                   class="edit btn btn-primary"
                                   data-toggle="modal" data-id="{$v.id}">编辑</a>
                                <a id="modal-315591" href="#modal-container-315591" role="button"
                                   class="deletebtn btn btn-danger" data-toggle="modal" data-id="{$v.id}">删除</a>
                            </td>
                        </tr>
                        {/foreach}
                        </tbody>
                    </table>
                    <a id="addworker" href="#modal-container-708375" role="button"
                       class="addworker btn btn-default"
                       data-toggle="modal">添加新员工</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-container-708375" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal " role="form">
                        <div class="form-group">
                            <label for="account" class="col-sm-2 control-label">账号</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="account" name="account"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="pwd" class="col-sm-2 control-label">密码</label>
                            <div class="col-sm-5">
                                <input type="password" class="form-control" id="pwd" name="pwd"
                                       placeholder="请输入密码"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">姓名</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="name" name="name"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="phone" class="col-sm-2 control-label">手机</label>
                            <div class="col-sm-5">
                                <input type="number" class="form-control" id="phone" name="phone"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="scope" class="col-sm-2 control-label">权限</label>
                            <div class="col-sm-5">
                                <select name="scope" id="scope" class="form-control">
                                    <option value="9">普通工作人员</option>
                                    <option value="18">系统维护员</option>
                                    <option value="36">超级管理员</option>
                                </select>
                            </div>
                        </div>
                        <input type="hidden" id="hidden" value="">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button id="savedate" type="button" class="btn btn-primary" data-dismiss="modal">保存</button>
                </div>
            </div>

        </div>

    </div>

    <div class="modal fade" id="modal-container-315591" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <h3>你确认要删除该员工？</h3>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button id="delete" type="button" class="btn btn-danger">删除</button>
                </div>
            </div>

        </div>

    </div>
</div>


<?php require(APP_PATH.'/user/view/common/footer.html');?>
<script>
    $(function () {
        var account = $('#account'),
            pwd = $('#pwd'),
            name = $('#name'),
            phone = $('#phone'),
            scope = $('#scope'),
            hidden = $('#hidden');
        //点击编辑按钮，弹出对话框
        $(document).on('click', '.edit', function () {
            var id = $(this).data('id');
            $('#savedate').removeClass('add');
            $('#savedate').addClass('save');
            $('#myModalLabel').text('编辑员工信息');
            var params = {
                url: 'user/edit/' + id,
                sCallback: function (data) {
                    account.val(data.user.account);
                    pwd.val('');
                    phone.val(data.user.phone);
                    name.val(data.user.name);
                    scope.val(data.user.scope);
                    hidden.val(id);
                }
            };
            window.base.getData(params);
            $(document).on('click', '.save', function () {
                var params = {
                    url: 'user/update',
                    type: 'post',
                    data: {
                        id: hidden.val(),
                        account: account.val(),
                        password: pwd.val(),
                        name: name.val(),
                        phone: phone.val(),
                        scope: scope.val()
                    },
                    sCallback: function (data) {
                        $('#savedate').removeClass('save');
                        window.location.href = "/manager/member";
                    },
                    eCallback: function (err) {
                        if (err) {
                            alert('编辑员工信息失败');
                        }
                    }
                };
                window.base.getData(params);
            });
        });
        $(document).on('click', '.addworker', function () {
            account.val('');
            pwd.val('');
            phone.val('');
            name.val('');
            scope.val('');
            hidden.val('');
            $('#savedate').addClass('add');
            $('#savedate').removeClass('save');
            $('#myModalLabel').text('添加新员工');
            $(document).on('click', '.add', function () {
                var params = {
                    url: 'user/add',
                    type: 'post',
                    data: {
                        account: account.val(),
                        password: pwd.val(),
                        name: name.val(),
                        phone: phone.val(),
                        scope: scope.val()
                    },
                    sCallback: function (data) {
                        $('#savedate').removeClass('add');
                        window.location.href = "/manager/member";
                    },
                    eCallback: function (err) {
                        if (err) {
                            alert('创建员工失败');
                        }
                    }
                };
                window.base.getData(params);
            });
        });
        $(document).on('click', '.deletebtn', function () {
            var id = $(this).data('id');
            $('#delete').click(function () {
                var params = {
                    url: 'user/delete',
                    type: 'delete',
                    data: {id: id},
                    sCallback: function (data) {
                        window.location.href = "/manager/member";
                    },
                    eCallback: function (err) {
                        if (err) {
                            alter('删除员工失败');
                        }
                    }
                };
                window.base.getData(params);
            });
        })
    });

</script>