<?php require(APP_PATH.'/user/view/common/header.html');?>

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <h2>
                系统管理
            </h2>
            <nav class="navbar navbar-default" role="navigation">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <!-- Nav tabs -->
                    <ul class="nav navbar-nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#information">基础数据录入</a></li>
                        <li role="presentation"><a href="member">员工管理</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="javascript:void (0)">{$userName}</a>
                        </li>
                        <li>
                            <a href="#">个人中心</a>
                        </li>
                        <li>
                            <a href="__ROOT__logout">退出</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="tab-content">
                <div class="col-md-12 column" style="padding-left: 0px;padding-right: 0px;">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active" role="presentation">
                            <a class=""
                               href="#standard"
                               aria-controls="standard"
                               role="tab"
                               data-toggle="tab">设备润滑标准管理</a>
                        </li>
                        <li class="" role="presentation">
                            <a class=""
                               href="#cost"
                               aria-controls="cost"
                               role="tab"
                               data-toggle="tab">润滑保养成本管理</a>
                        </li>
                    </ul>

                </div>
                <div class="col-md-12 column">
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="standard">

                            <a id="modal-506849" href="#modal-container-506849" role="button" class="btn btn-default"
                               data-toggle="modal">新建设备润滑标准</a>


                            <div class="tabbable" id="tabs-270320">
                                <ul class="list-group col-md-2" role="group">
                                    {foreach $equ_list as $k=>$v}
                                    <li class="list-group-item {if condition=" $k==0"}active{/if}">
                                        <a href="#panel-{$v.equ_no}" data-toggle="tab">{$v.name}</a>
                                    </li>
                                    {/foreach}
                                </ul>
                                <div class="tab-content col-md-10">
                                    {foreach $equ_list as $k=>$v}
                                    <div class="tab-pane {if condition=" $k==0"}active{/if}" id="panel-{$v.equ_no}">
                                        <form role="form" id="uploadForm" class="">
                                            <div class="form-group">
                                                <label for="excel" class="col-md-2">上传文件</label>
                                                <input class="col-md-3" type="file" id="excel" name="excel"/>
                                                <button type="submit" class="btn btn-default col-md-2" id="upload"
                                                        data-ex_type="oilstandard">上传
                                                </button>
                                            </div>
                                        </form>
                                        <table class="table table-bordered table-hover table-condensed">
                                            <thead>
                                            <tr align="center">
                                                <th>
                                                    设备编号
                                                </th>
                                                <th>
                                                    设备润滑点编号
                                                </th>
                                                <th>
                                                    润滑点全称
                                                </th>
                                                <th>
                                                    物料编号
                                                </th>
                                                <th>
                                                    用量
                                                </th>
                                                <th>
                                                    单位
                                                </th>
                                                <th>
                                                    首保周期
                                                </th>
                                                <th>
                                                    更换最长周期
                                                </th>
                                                <th>
                                                    油脂采样间隔
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {foreach $oil_standard as $kk=>$vv}
                                            {if condition="$v.equ_no===$vv.equ_no"}
                                            <tr align="center">
                                                <td>
                                                    {$vv.equ_no}
                                                </td>
                                                <td>
                                                    {$vv.equ_oil_no}
                                                </td>
                                                <td>
                                                    {$vv.oil_name}
                                                </td>
                                                <td>
                                                    {$vv.oil_no}
                                                </td>
                                                <td>
                                                    {$vv.quantity}
                                                </td>
                                                <td>
                                                    {$vv.unit}
                                                </td>
                                                <td>
                                                    {$vv.first_period}
                                                </td>
                                                <td>
                                                    {$vv.period}
                                                </td>
                                                <td>
                                                    {$vv.interval}
                                                </td>
                                            </tr>
                                            {/if}
                                            {/foreach}
                                            </tbody>
                                        </table>
                                    </div>
                                    {/foreach}
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="cost">润滑保养成本管理</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal-container-506849" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">
                    新建标准
                </h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="equ_name" class="col-sm-2 control-label">设备名称</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="equ_name"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="equ_no" class="col-sm-2 control-label">设备编号</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="equ_no"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">确认</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary">保存</button>
            </div>
        </div>

    </div>

</div>
<?php require(APP_PATH.'/user/view/common/footer.html');?>
<script>
    $(function () {

        $(document).on('click', '#upload', function () {
            $.ajax({
                url: 'http://shenhua.cn/manager/oil/upload?exceltype=oilstandard&XDEBUG_SESSION_START=16782',
                type: 'post',
                data: new FormData($("#uploadForm")[0]),
                async: false,
                cache: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    console.log(data);
                },
                error: function (err) {
                    console.log(err);
                }
            })
        });
    });
</script>