<?php require(APP_PATH.'/user/view/common/header.html');?>

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <h2>
                系统管理
            </h2>
            <nav class="navbar navbar-default" role="navigation">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <!-- Nav tabs -->
                    <ul class="nav navbar-nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#information">基础数据录入</a></li>
                        <li role="presentation"><a href="member">员工管理</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="javascript:void (0)">{$userName}</a>
                        </li>
                        <li>
                            <a href="#">个人中心</a>
                        </li>
                        <li>
                            <a href="__ROOT__logout">退出</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="tab-content">
                <div class="col-md-12 column" style="padding-left: 0px;padding-right: 0px;">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active" role="presentation">
                            <a class="equipment"
                               href="#equipment"
                               aria-controls="equipment"
                               role="tab"
                               data-toggle="tab">设备管理</a>
                        </li>
                        <li class="" role="presentation">
                            <a class="standard"
                               href="#standard"
                               aria-controls="standard"
                               role="tab"
                               data-toggle="tab">设备润滑标准管理</a>
                        </li>
                        <li class="" role="presentation">
                            <a class="oil_analysis"
                               href="#oil_analysis"
                               aria-controls="oil_analysis"
                               role="tab"
                               data-toggle="tab">油液分析报告管理</a>
                        </li>
                        <li class="" role="presentation">
                            <a class="cost"
                               href="#cost"
                               aria-controls="cost"
                               role="tab"
                               data-toggle="tab">润滑保养成本管理</a>
                        </li>
                    </ul>

                </div>
                <div class="col-md-12 column">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="equipment"><?php require(APP_PATH.'/user/view/Manager/component/equipment.html');?></div>
                        <div role="tabpanel" class="tab-pane" id="standard"><?php require(APP_PATH.'/user/view/Manager/component/oilstandard.html');?></div>
                        <div role="tabpanel" class="tab-pane" id="oil_analysis"><?php require(APP_PATH.'/user/view/Manager/component/oilanalysis.html');?></div>
                        <div role="tabpanel" class="tab-pane" id="cost"><?php require(APP_PATH.'/user/view/Manager/component/maintenance.html');?></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal-container-0" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">
                    删除设备
                </h4>
            </div>
            <div class="modal-body">
                <h3>你确认要删除该设备？</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button id="delete_equ" type="submit" class="btn btn-default">确认</button>
            </div>
        </div>

    </div>

</div>
<?php require(APP_PATH.'/user/view/common/footer.html');?>
<script>
    $(function () {
        $(document).on('click', '.upload_excel', function () {
            var param = $(this).data('param');
            var params = {
                url: 'document/oil/upload?' + param + '&XDEBUG_SESSION_START=10697',
                data: new FormData($(this).parent().parent()[0]),
                sCallback: function (data) {
                    alert('上传成功');
                    window.location.reload();
                },
                eCallback: function (err) {
                    alert(err.msg);
                }
            };
            window.base.uploadFile(params);
        });
        $(document).on('click', '.del_btn', function () {
            var equ_no = $(this).data('equ_no');
            $('#delete_equ').click(function () {
                var params = {
                    url: 'document/oilstandard/delete_equ/' + equ_no + '?XDEBUG_SESSION_START=10628',
                    type: 'delete',
                    sCallback: function (data) {
                        window.location.reload();
                    },
                    eCallback: function (err) {
                        alert(err.msg);
                    }
                };
                window.base.getData(params);
            });
        });
    });
</script>