<?php require(APP_PATH.'/oiling/view/manager/common/header.html');?>
<div id="container">
    <div id="hd">
        <div class="hd-wrap ue-clear">
            <div class="top-light"></div>
            <h1 class="logo"></h1>
            <div class="login-info ue-clear">
                <div class="welcome ue-clear">欢迎您,<a style="color: #fff;" href="/user/center" target="_blank">&nbsp;{$account}</a>
                </div>
            </div>
            <div class="toolbar ue-clear">
                <a href="/" class="home-btn">首页</a>
                <a href="javascript:;" class="quit-btn exit"></a>
            </div>
        </div>
    </div>
    <div id="bd">
        <div class="wrap ue-clear">
            <div class="sidebar">
                <h2 class="sidebar-header"><p>功能导航</p></h2>
                <ul class="nav">
                    <li class="office">
                        <div class="nav-header"><a href="/oiling/standard" class="ue-clear"><span>设备润滑标准</span><i
                                class="icon"></i></a></div>
                    </li>
                    <li class="gongwen">
                        <div class="nav-header"><a href="/oiling/info" class="ue-clear"><span>润滑提示与记录</span><i
                                class="icon"></i></a></div>
                    </li>
                    <li class="nav-info current">
                        <div class="nav-header"><a href="/oiling/analysis" class="ue-clear"><span>油脂化验指标分析</span><i
                                class="icon"></i></a></div>
                    </li>
                    <li class="konwledge">
                        <div class="nav-header"><a href="/oiling/oildetail" class="ue-clear"><span>润滑保养成本管理</span><i
                                class="icon"></i></a></div>
                    </li>
                </ul>
            </div>
            <div class="content">
                <div class="title">
                    <h2>油脂化验指标分析</h2>
                    {if condition="$scope>=18"}
                    <div class="temp-btn-group">
                        下载模板：
                        <a style="width: 160px;" class="excel-temp-btn"
                           href="/template/油脂化验指标.xlsx">油脂化验指标分析excel模板</a>
                    </div>
                    {/if}
                </div>
                <div class="title">
                    <div class="check-content">
                        <span class="select-all">全选:</span>
                        <input class="check-all" type="checkbox">
                        <span class="check-info">下载选中的油脂指标分析记录</span>
                        <a href="javascript:;" class="check-download">下载</a>
                    </div>
                    {if condition="$scope>=18"}
                    <div class="uploader orange analysis">
                        <form>
                            <span>批量上传油脂化验指标分析：</span>
                            <a href="javascript:;" class="a-upload">
                                <input type="file" name="excel" id=""><span class="showFileName">点击这里上传文件</span>
                            </a>
                            <input type="button" name="file" data-param="exceltype=oilanalysis"
                                   class="button upload" value="上传"/>
                        </form>
                    </div>
                    {/if}
                </div>
                <div class="query">
                    <div class="query-conditions ue-clear">
                        <div class="choose-equ" style="margin-left: 30px;">
                            <span>选择设备：</span>
                            <select>
                                <option value="all">全部设备</option>
                                {foreach $equs as $v}
                                <option value="{$v.equ_no}" {if condition="$v.equ_no==$equNo" }selected{
                                /if}>{$v.equ_name}</option>
                                {/foreach}
                            </select>
                        </div>
                        {if condition="$equNo=='all'"}
                        <div class="search-box">
                            <span class="search-info">搜索油脂化验指标分析：</span>
                            <input class="search-input" type="text" placeholder="输入润滑点名称的关键字">
                        </div>
                        {/if}
                    </div>
                </div>
            </div>
            <div class="table-box">
                <div class="scroll-box" style="overflow: hidden;overflow-y: auto">
                    <table>
                        <thead>
                        <tr>
                            <th class="num">
                                选择
                            </th>
                            <th class="num">设备编号</th>
                            <th class="num">润滑点编号</th>
                            <th class="time">润滑点（全称）</th>
                            <th class="process">采样日期</th>
                            <th class="num">运行时长</th>
                            <th class="process">物料编号</th>
                            <th class="num">Fe</th>
                            <th class="num">Cu</th>
                            <th class="num">Al</th>
                            <th class="num">Si</th>
                            <th class="num">Na</th>
                            <th class="num">PQ</th>
                            <th class="num">粘度</th>
                            <th class="operate">操作</th>
                        </tr>
                        </thead>
                        <tbody id="analysisBody">
                        {foreach $OilList as $v}
                        {foreach $norms as $vv}
                        {if condition="$v.oil_no==$vv.oil_no" }
                        <tr {if condition="$v.advise==0" } style="background-color: #fffdcf" {/if}>
                        <td class="num"><input {if condition="$v.advise==0" }checked{/if} type="checkbox"
                            data-id="{$v.id}">
                        </td>
                        <td class="num">{$v.equ_no}</td>
                        <td class="num">{$v.equ_oil_no}</td>
                        <td class="time edit-item" data-id="{$v.id}" data-key="equ_oil_name">{$v.equ_oil_name}
                        </td>
                        <td class="process edit-item" data-id="{$v.id}" data-key="sampling_time">
                            {$v.sampling_time|date="Y年m月d日",###}
                        </td>
                        <td class="num">{$v.work_hour}</td>
                        <td class="process">{$v.oil_no}</td>
                        <td class="num edit-item" data-id="{$v.id}" data-key="Fe" {if condition="$v.Fe>$vv.Fe" }
                            style="color: red;font-weight: 600;" {/if}>{$v.Fe}</td>
                        <td class="num edit-item" data-id="{$v.id}" data-key="Cu" {if condition="$v.Cu>$vv.Cu" }
                            style="color: red;font-weight: 600;" {/if}>{$v.Cu}</td>
                        <td class="num edit-item" data-id="{$v.id}" data-key="Al" {if condition="$v.Al>$vv.Al" }
                            style="color: red;font-weight: 600;" {/if}>{$v.Al}</td>
                        <td class="num edit-item" data-id="{$v.id}" data-key="Si" {if condition="$v.Si>$vv.Si" }
                            style="color: red;font-weight: 600;" {/if}>{$v.Si}</td>
                        <td class="num edit-item" data-id="{$v.id}" data-key="Na" {if condition="$v.Na>$vv.Na" }
                            style="color: red;font-weight: 600;" {/if}>{$v.Na}</td>
                        <td class="num edit-item" data-id="{$v.id}" data-key="PQ" {if condition="$v.PQ>$vv.PQ" }
                            style="color: red;font-weight: 600;" {/if}>{$v.PQ}</td>
                        <td class="num edit-item" data-id="{$v.id}" data-key="viscosity"
                            {if condition="$v.viscosity<$vv.viscosity_min OR $v.viscosity>$vv.viscosity_max" }
                            style="color: red;font-weight: 600;" {/if}>{$v.viscosity}</td>
                        <td class="operate table-operate">
                            <a href="javascript:;" data-equ_key_no="{$v.equ_key_no}"
                               class="check equ_detail"
                               target="_blank">查看</a>
                            {if condition="$scope>=18"}
                            <a href="javascript:;" class="del-item del" data-id="{$v.id}">删除</a>
                            {/if}
                            {if condition="$v.advise==0"}
                            <a data-id="{$v.id}" href="javascript:;" class="del-warning del"
                               style="width: 55px;padding-left: 10px;">取消报警</a>
                            {/if}
                        </td>
                        </tr>
                        {/if}
                        {/foreach}
                        {/foreach}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="ft" class="ue-clear">
    <div class="ft-left">
        <span>神华集团</span>
        <em>设备润滑管理系统</em>
    </div>
    <div class="ft-right">
        <span>非同科技</span>
        <em>2017</em>
    </div>
</div>
</div>
<div class="tanchuang">
    <div class="hintl">
        <div class="hintl-in1">
            <div class="hintl1"></div>
            <div class="hintl2">油脂化验指标分析删除窗口</div>
            <div class="hint3"></div>
        </div>
        <div class="hintl-in2">是否删除该油脂化验指标分析？</div>
        <a class="hintl-in3 confirm-del" href="javascript:;">是</a>
        <a class="hintl-in4" href="javascript:;">否</a>
    </div>
</div>
<?php require(APP_PATH.'/oiling/view/manager/common/exitDialog.html');?>
<?php require(APP_PATH.'/oiling/view/manager/common/footer.html');?>
<script src="__JS__/data.js"></script>
<script src="__JS__/jquery.monthpicker.js"></script>
<script type="text/html" id="analysisTemplate">
    {literal}
    {{each(i,item) data}}
    <tr>
        <td class="num">
            <input type="checkbox" data-id="${item.id}">
        </td>
        <td class="num">${item.equ_no}</td>
        <td class="num">${item.equ_oil_no}</td>
        <td class="time" data-id="${item.id}" data-key="equ_oil_name">${item.equ_oil_name}</td>
        <td class="process" data-id="${item.id}" data-key="sampling_time">${item.sampling_time}</td>
        <td class="process">${item.work_hour}</td>
        <td class="process">${item.oil_no}</td>
        <td class="num">${item.Fe}</td>
        <td class="num">${item.Cu}</td>
        <td class="num">${item.Al}</td>
        <td class="num">${item.Si}</td>
        <td class="num">${item.Na}</td>
        <td class="num">${item.PQ}</td>
        <td class="num">${item.viscosity}</td>
        <td class="operate table-operate">
            <a href="javascript:;" data-equ_key_no="${item.equ_key_no}"
               class="check equ_detail"
               target="_blank">查看</a>
        </td>
    </tr>
    {{/each}}
    {/literal}

</script>
<script>
    $('title').html('油脂化验指标分析');
    $(document).on('click', '.equ_detail', function () {
        var equKeyNo = $(this).data('equ_key_no');
        layer.open({
            type: 2,
            title: '润滑点详情',
            area: ['1300px', '100%'],
            content: ['/oiling/equdetail/' + equKeyNo]
        });
    });
    //关闭iframe
    $(document).on('click', '.layui-layer-close', function () {
        location.reload();
    });
    var scrollHeight = $(document).height() - $('.scroll-box').offset().top - 27;
    $('.scroll-box').css('height', scrollHeight);
    $('.upload').click(function () {
        var param = $(this).data('param'),
            params = {
                url: 'oiling/upload?' + param + '&XDEBUG_SESSION_START=17512',
                data: new FormData($(this).parent()[0]),
                sCallback: function () {
                    layer.open({
                        content: '油脂化验指标上传成功',
                        yes: function (index, layero) {
                            location.reload();
                        }
                    });
                },
                eCallback: function (err) {
                    if (err.errcode == 1) {
                        layer.msg(err.msg, {icon: 5});
                    }
                    if (err.errcode == 2) {
                        layer.msg(err.msg, {icon: 5});
                    }
                }
            };
        window.base.uploadFile(params);
    });
    $('.check-download').click(function () {
        var ids = [];
        $('#analysisBody input').each(function (index, value) {
            if ($(value).attr('checked')) {
                ids.push($(value).data('id'));
            }
        });
        var idsStr = ids.join(','),
            url = '/oiling/analysis/download/' + idsStr + '?exceltype=oilanalysis';
        if (ids.length != 0) {
            window.location.href = url;
        }
    });
    $('.check-all').click(function () {
        if ($(this).attr('checked')) {
            $('#analysisBody input').each(function (index, value) {
                $(value).attr('checked', true);
            });
        } else {
            $('#analysisBody input').each(function (index, value) {
                $(value).attr('checked', false);
            });
        }
    });
    $('.del-item').click(function () {
        $('.hintl').show(100);
        $('.hintl2').html('油脂化验指标分析删除窗口');
        $('.hintl-in2').html('是否删除该油脂化验指标分析？');
        var id = $(this).data('id'),
            _this = $(this);
        $('.confirm-del').unbind('click').click(function () {
            var params = {
                url: '/oiling/analysis/del/' + id,
                type: 'delete',
                sCallback: function (data) {
                    window.location.reload();
                },
                eCallback:function (err) {
                    if (data.code == 0) {
                        $('.hintl').hide(100);
                        layer.msg(data.msg, {icon: 5});
                    }
                }
            };
            window.base.getData(params);
        });
    });
    $('.del-warning').click(function () {
        $('.hintl').show(100);
        $('.hintl2').html('取消油脂分析报警');
        $('.hintl-in2').html('是否取消该润滑点的油脂分析报警？');
        var id = $(this).data('id');
        $('.confirm-del').unbind('click').click(function () {
            var params = {
                url: '/oiling/analysis/delwarn/' + id,
                sCallback: function (data) {
                    window.location.reload();
                },
                eCallback:function (err) {
                    if (err.errcode == 1) {
                        layer.msg(err.msg,{icon:5});
                        $('.hintl').hide(100);
                    }
                }
            };
            window.base.getData(params);
        });
    });
    //编辑润滑标准条目信息
    $(document).on('dblclick', '.edit-item', function (e) {
        var _this = $(this),
            oldVal = _this.html(),
            url = '/oiling/analysis/edititem/';
        oldVal = oldVal.replace(/(^\s*)|(\s*$)/g, "");
        var long = oldVal.length ? (oldVal.length * 12) : '20';
        if (!/input/.test(oldVal)) {
            _this.html('<input type="text" value="' + oldVal + '" style="width: ' + long + 'px">');
        }
        var input = _this.find('input');
        input.select();
        window.base.editItemByDblClick(_this, input, oldVal, url, function (data) {
            window.location.reload();
        },function (err) {
            if(err.errcode==1) {
                layer.msg(err.msg, {icon: 5});
            }
        });
    });
    //日期
    $('#monthly1').monthpicker({
        topOffset: 1
    });
    $('#monthly2').monthpicker({
        topOffset: 1
    });
    $('.info-confirm').click(function () {
        var dateBefore = $('#monthly1').val();
        var dateAfter = $('#monthly2').val();
        if (!dateBefore || !dateAfter || dateBefore >= dateAfter) {
            alert('请输入正确的时间');
            return false;
        }
        var before = (new Date(dateBefore).getTime()) / 1000;
        var after = (new Date(dateAfter).getTime()) / 1000;
        var params = {
            url: '/oiling/analysis/list/' + before + '/' + after + '?XDEBUG_SESSION_START=14125',
            sCallback: function (list) {
                console.log(list);
                var data = list.data;
                for (var i = 0; i < data.length; i++) {
                    list.data[i].oil_status = list.data[i].oil_status.replace('<br>', '，');
                    list.data[i].del_warning_time = formatDate(new Date(list.data[i].del_warning_time * 1000), 'yyyy年MM月dd日');
                }
                $('#analysisBody').html('');
                $('#analysisTemplate').tmpl(list).appendTo('#analysisBody');
                $(document).find('tr:odd').css("backgroundColor", "#eff6fa");
            },
            eCallback: function (err) {
                alert(dateBefore + '至' + dateAfter + '没有油脂分析结果');
            }
        };
        window.base.getData(params);
    });
    //搜索
    oldHtml = $('#analysisBody').html();
    $(document).on("keyup", '.search-input', function (e) {
        var val = $(this).val();
        if (e.keyCode == 8 && !val) {
            document.getElementById('analysisBody').innerHTML = oldHtml;
            var newHtml = $('#analysisBody').html();
            return false;
        }
        var params = {
            url: 'oiling/analysis/search/' + val + '?XDEBUG_SESSION_START=14691',
            sCallback: function (list) {
                console.log(list);
                if (newHtml == oldHtml) {
                    return false;
                }
                if (list.errcode === 0) {
                    $('#analysisBody').html('');
                    $('#analysisTemplate').tmpl(list).appendTo('#analysisBody');
                    $(document).find('tr:odd').css("backgroundColor", "#eff6fa");
                }
            }
        };
        if (val && e.keyCode != 8) {
            window.base.getData(params);
        }
    });
    $('.choose-equ select').change(function () {
        var equNo = $(this).val();
        location.href = "/oiling/analysis/?equ_no=" + equNo;
    })
</script>