<?php require(APP_PATH.'/oiling/view/manager/common/header.html');?>
<style>
    .operate {
        width: 30px !important;
        /*text-align: center;*/
    }
</style>
<div id="hd">
    <div class="hd-wrap ue-clear">
        <div class="top-light"></div>
        <h1 class="logo"></h1>
        <div class="login-info ue-clear">
            <div class="welcome ue-clear">欢迎您,<a style="color: #fff;" href="/user/center">&nbsp;*{$account}</a>
                <div class="login-msg ue-clear"><a href="javascript:;" class="msg-txt">消息</a> <a href="javascript:;"
                                                                                                 class="msg-num">10</a>
                </div>
            </div>
            <div class="toolbar ue-clear"><a href="javascript:;" class="home-btn">首页</a> <a href="javascript:;"
                                                                                            class="quit-btn exit"></a>
            </div>
        </div>
    </div>
    <div class="rhd_xq">
        <h2>*{$detail.equ_oil_name}</h2>
        <div class="rhd_xqa">
            <h3><span class="rhd_xqa1">设备润滑标准：</span></h3>
            <div class="rhd_xqb">
                <div class="rhd_xqb1">
                    <table>
                        <tr class="rhd_xqb1a">
                            <th>设备编号：</th>
                            <td>*{$detail.equ_no}</td>

                            <th>润滑点编号：</th>
                            <td>*{$detail.equ_oil_no}</td>

                            <th>物料编码：</th>
                            <td class="edit-item-standard" data-id="*{$detail.id}" data-key="oil_no">*{$detail.oil_no}</td>
                            <th>用量：</th>
                            <td class="edit-item-standard" data-id="*{$detail.id}" data-key="quantity">*{$detail.quantity}</td>
                        </tr>
                        <tr class="rhd_xqb1a">
                            <th>单位：</th>
                            <td class="edit-item-standard" data-id="*{$detail.id}" data-key="unit">*{$norms.unit}</td>
                            <th>更换最长周期：</th>
                            <td class="edit-item-standard" data-id="*{$detail.id}" data-key="period">*{$detail.period}</td>
                            <th>首保周期：</th>
                            <td class="edit-item-standard" data-id="*{$detail.id}" data-key="first_period">
                                *{$detail.first_period}
                            </td>
                            <th>油脂采样间隔：</th>
                            <td class="edit-item-standard" data-id="*{$detail.id}" data-key="interval">*{$detail.interval}</td>
                        </tr>
                    </table>
                </div>

                <div class="clear"></div>
            </div>
        </div>

        <div class="rhd_xqa">
            <h3>
                当前状态：
                *{if condition="$detail.info_warning_detail"}
                <span
                    class="*{$detail.info_warning_detail[0]['status']==3?'rhd_xqa_red':($detail.info_warning_detail[0]['status']==2?'rhd_xqa_hs':'')}">*{$detail.info_warning_detail[0]['status']==3?'超期':($detail.info_warning_detail[0]['status']==2?'临近':'正常')}</span>（正常、<span
                    class="rhd_xqa_red">超期</span>、<span
                    class="rhd_xqa_hs">临近</span>）
                *{/if}
            </h3>
            <div class="rhd_xqb1">
                <div class="rhd_xqb1">
                    <table class="status">
                        *{if condition="$detail.info_warning_detail"}
                        <tr class="rhd_xqb1a">
                            <th>消警日期：</th>
                            <td class="edit-item-info"
                                data-id="*{$detail.info_warning_detail[0]['id']}"
                                data-key="del_warning_time">*{$detail.info_warning_detail[0]['del_warning_time']|date="Y年m月d日",###}</td>
                            <th>消警类型：</th>
                            <td>*{$detail.info_warning_detail[0]['warning_type']?'润滑':'延期'}</td>
                            <th>运行时长：</th>
                            <td>*{$detail.info_warning_detail[0]['how_long']}</td>
                            *{if condition="$detail.info_warning_detail[0]['deadline']>=0"}
                            <th>剩余时间：</th>
                            <td>*{$detail.info_warning_detail[0]['deadline']}</td>
                            *{else/}
                            <th style="color: red">超期时长：</th>
                            <td style="color: red">*{$detail.info_warning_detail[0]['deadline']<0?(-$detail.info_warning_detail[0]['deadline']):$detail.info_warning_detail[0]['deadline']}</td>
                            *{/if}
                        </tr>
                        *{if condition="$detail.info_warning_detail[0]['warning_type']"}
                        <tr class="rhd_xqb1a">
                            <th>是否首保：</th>
                            <td class="edit-item-info"
                                *{if condition="$detail.info_warning_detail[0]['is_first_period']"} style="color: red;"*{/if}
                                data-id="*{$detail.info_warning_detail[0]['id']}"
                                data-key="is_first_period"
                            >*{$detail.info_warning_detail[0]['is_first_period']?'是':'否'}</td>
                            <th>物料编号：</th>
                            <td  class="edit-item-info"
                                 data-id="*{$detail.info_warning_detail[0]['id']}"
                                 data-key="oil_no"
                            >*{$detail.info_warning_detail[0]['oil_no']}</td>
                            <th>用量：</th>
                            <td  class="edit-item-info"
                                 data-id="*{$detail.info_warning_detail[0]['id']}"
                                 data-key="quantity"
                            >*{$detail.info_warning_detail[0]['quantity']}</td>
                            <th>操作人员：</th>
                            <td>*{$detail.info_warning_detail[0]['user']['name']}</td>
                        </tr>
                        *{else/}
                        <tr class="rhd_xqb1a">
                            <th>是否首保：</th>
                            <td class="edit-item-info"
                                data-id="*{$detail.info_warning_detail[0]['id']}"
                                data-key="is_first_period"
                                *{if condition="$detail.info_warning_detail[0]['is_first_period']"} style="color: red;"*{/if}>*{$detail.info_warning_detail[0]['is_first_period']?'是':'否'}</td>
                            <th>延期时长：</th>
                            <td class="edit-item-info"
                                data-id="*{$detail.info_warning_detail[0]['id']}"
                                data-key="postpone"

                            >*{$detail.info_warning_detail[0]['postpone']}</td>
                            <th>延期原因：</th>
                            <td class="edit-item-info"
                                data-id="*{$detail.info_warning_detail[0]['id']}"
                                data-key="postpone_reason"

                            >*{$detail.info_warning_detail[0]['postpone_reason']}</td>
                            <th>操作人员：</th>
                            <td>*{$detail.info_warning_detail[0]['user']['name']}</td>
                        </tr>
                        *{/if}
                        *{/if}
                    </table>
                </div>
            </div>
            *{if condition="$scope>=18"}
            <div class="rhd_xqb2">
                <span class="rhd_xqb2a">
                    <a href="javascript:;"
                       class="runhua"
                       data-id="*{$detail.id}"
                       data-user_id="*{$userId}"
                       data-equ_no="*{$detail.equ_no}"
                       data-equ_oil_no="*{$detail.equ_oil_no}"
                       data-equ_name="*{$detail.equ_name}"
                       data-equ_oil_name="*{$detail.equ_oil_name}"
                                data-equ_key_no="*{$detail.equ_key_no}"
                                >润滑</a>
                </span>
                <span class="rhd_xqb2a">
                    <a href="javascript:;"
                       class="edit yanqi"
                       data-id="*{$detail.id}"
                       data-user_id="*{$userId}"
                       data-equ_no="*{$detail.equ_no}"
                       data-equ_oil_no="*{$detail.equ_oil_no}"
                       data-equ_name="*{$detail.equ_name}"
                       data-equ_oil_name="*{$detail.equ_oil_name}"
                                data-equ_key_no="*{$detail.equ_key_no}"
                                >延期</a>
                </span>
            </div>
            *{/if}
            <div class="clear"></div>
        </div>
        <div class="rhd_xqa">
            <h3>操作记录：</h3>
            <div class="rhd_xqb" style="overflow: hidden;overflow-y: auto">
                <table>
                    <thead>
                    <tr>
                        <th class="num">ID</th>
                        <th class="name">消警时间</th>
                        <th class="process">消警类型</th>
                        <th class="process">运行时长</th>
                        <th class="process">状态</th>
                        <th class="process">物料编号</th>
                        <th class="process">用量</th>
                        <th class="process">延期时长</th>
                        <th class="process">延期原因</th>
                        <th class="process">是否首保</th>
                        <th class="process">操作人员</th>
                        *{if condition="$scope>=18"}
                        <th class="operate">操作</th>
                        *{/if}
                    </tr>
                    </thead>
                    <tbody>
                    *{foreach $detail.info_warning_detail as $k=>$v}
                    <tr>
                        <td class="num">*{$k+1}</td>
                        <td class="name">*{$v.del_warning_time|date="Y年m月d日",###}</td>
                        <td class="process">*{$v.warning_type?"润滑":"延期"}</td>
                        <td class="process">*{$v.how_long}</td>
                        <td class="process">*{$v.status==3?'超期':($v.status==2?'临近':'正常')}</td>
                        <td class="process">*{$v.oil_no}</td>
                        <td class="process">*{$v.quantity}</td>
                        <td class="process">*{$v.postpone}</td>
                        <td class="process">*{$v.postpone_reason}</td>
                        <td class="process">*{$v.is_first_period?'是':'否'}</td>
                        <td class="process">*{$v.user.name}</td>
                        *{if condition="$scope>=18"}
                        <td class="operate table-operate del-td" data-id="*{$v.id}" data-type="info">
                        </td>
                        *{/if}
                    </tr>
                    *{/foreach}
                    </tbody>
                </table>
            </div>
        </div>
        *{if condition="$norms.unit=='L'"}
        <div class="rhd_xqa">
            <h3>
                <span class="rhd_xqa1">油脂化验指标：</span>
                *{if condition="$scope>=18"}
                <span class="rhd_xqa2"><a href="javascript:;"
                                          id="addOilAnalysisItem"
                                          data-equ_no="*{$detail.equ_no}"
                                          data-equ_oil_no="*{$detail.equ_oil_no}"
                                          data-equ_name="*{$detail.equ_name}"
                                          data-equ_oil_name="*{$detail.equ_oil_name}"
                >【添加油脂化验指标】</a></span>
                *{/if}
            </h3>
            <div class="rhd_xqb" style="overflow: hidden;overflow-y: auto">
                <table>
                    <thead>
                    <tr>
                        <th class="num">ID</th>
                        <th class="name">采样日期</th>
                        <th class="process">运行时长</th>
                        <th class="process">物料编号</th>
                        <th class="num">Fe</th>
                        <th class="num">Cu</th>
                        <th class="num">Al</th>
                        <th class="num">Si</th>
                        <th class="num">Na</th>
                        <th class="num">PQ</th>
                        <th class="num">粘度</th>
                        <th class="process">油脂状态</th>
                        *{if condition="$scope>=18"}
                        <th class="operate">操作</th>
                        *{/if}
                    </tr>
                    </thead>
                    <tbody id="analysisBody">
                    *{foreach $detail.oil_analysis_list as $k=>$v}
                    <td class="num">*{$k+1}</td>
                    <td class="name" data-id="*{$v.id}" data-key="sampling_time">*{$v.sampling_time}</td>
                    <td class="process">*{$v.work_hour}</td>
                    <td class="process">*{$v.oil_no}</td>
                    <td class="num" data-id="*{$v.id}" data-key="Fe" *{if condition="$v.Fe>$norms.Fe" }
                        style="color: red;font-weight: 600;" *{/if}>*{$v.Fe}</td>
                    <td class="num" data-id="*{$v.id}" data-key="Cu" *{if condition="$v.Cu>$norms.Cu" }
                        style="color: red;font-weight: 600;" *{/if}>*{$v.Cu}</td>
                    <td class="num" data-id="*{$v.id}" data-key="Al" *{if condition="$v.Al>$norms.Al" }
                        style="color: red;font-weight: 600;" *{/if}>*{$v.Al}</td>
                    <td class="num" data-id="*{$v.id}" data-key="Si" *{if condition="$v.Si>$norms.Si" }
                        style="color: red;font-weight: 600;" *{/if}>*{$v.Si}</td>
                    <td class="num" data-id="*{$v.id}" data-key="Na" *{if condition="$v.Na>$norms.Na" }
                        style="color: red;font-weight: 600;" *{/if}>*{$v.Na}</td>
                    <td class="num" data-id="*{$v.id}" data-key="PQ" *{if condition="$v.PQ>$norms.PQ" }
                        style="color: red;font-weight: 600;" *{/if}>*{$v.PQ}</td>
                    <td class="num" data-id="*{$v.id}" data-key="viscosity" *{if
                        condition="$v.viscosity<$norms.viscosity_min OR $v.viscosity>$norms.viscosity_max" }
                        style="color: red;font-weight: 600;" *{/if}>*{$v.viscosity}</td>
                    <td class="process">*{$v.oil_status?$v.oil_status:'良好'}</td>
                    *{if condition="$scope>=18"}
                    <td class="operate table-operate del-td" data-id="*{$v.id}" data-type="analysis"></td>
                    *{/if}
                    </tr>
                    *{/foreach}
                    </tbody>
                </table>
                <div class="add-oil-analysis-box addoilanalysis">
                    <div class="oil-analysis-window">
                        <h3>
                            添加油脂分析记录
                        </h3>
                        <table>
                            <thead>
                            <tr>
                                <th class="process">采样日期</th>
                                <th class="num">Fe</th>
                                <th class="num">Cu</th>
                                <th class="num">Al</th>
                                <th class="num">Si</th>
                                <th class="num">Na</th>
                                <th class="num">PQ</th>
                                <th class="num">粘度</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="num"><input id="samplingTime" type="text" value="2017年6月3日"></td>
                                <td class="num"><input id="Fe" type="text" value="2.1"></td>
                                <td class="num"><input id="Cu" type="text" value="3.6"></td>
                                <td class="num"><input id="Al" type="text" value="1.3"></td>
                                <td class="num"><input id="Si" type="text" value="2.1"></td>
                                <td class="num"><input id="Na" type="text" value="3.65"></td>
                                <td class="num"><input id="PQ" type="text" value="2.3"></td>
                                <td class="num"><input id="viscosity" type="text" value="12"></td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="box-bottom">
                            <a href="javascript:;" class="oil-analysis-confirm">确认</a>
                            <a href="javascript:;" class="oil-analysis-cancel">取消</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rhd_xqb">
                <div class="warpbox">

                    <div class="table_card">
                        <ul class="tab" data-equ_key_no="*{$detail.equ_key_no}">
                            <li class="activ" data-ele="Fe">Fe</li>
                            <li data-ele="Cu">Cu</li>
                            <li data-ele="Al">Al</li>
                            <li data-ele="Si">Si</li>
                            <li data-ele="Na">Na</li>
                            <li data-ele="PQ">PQ</li>
                            <li data-ele="viscosity">粘度</li>
                        </ul>
                        <div class="tabCon">
                            <div class="on">
                                <canvas id="myChart" width="1028" height="300"></canvas>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        *{/if}
    </div>
    <div class="tanchuang">
        <div class="hint oiling">
            <div class="hint-in1">
                <div class="hint1"></div>
                <div class="hint2">润滑</div>
                <div class="hint3"></div>
            </div>
            <div class="hint-in2">
                <div class="hint-in2a">
                    <span class="hint-in2a1">润滑日期</span>
                    <span class="hint-in2a2">
                                    <input value=""
                                           name=""
                                           type="text"
                                           class="oiling-time">
                                </span>

                </div>
                <div class="hint-in2a">
                    <span class="hint-in2a1">物料编号</span>
                    <span class="hint-in2a2">
                                    <select name="" class="oilNo">
                                        *{foreach $oilNoList as $v}
                                        <option
                                                value="*{$v.oil_no}"
                                                *{if condition="$detail.oil_no==$v.oil_no" }
                                                selected
                                                *{/if}
                                        >*{$v.oil_no} | *{$v.oil_name} | *{$v.detail}
                                        </option>
                                        *{/foreach}
                                    </select>
                                </span>
                </div>

                <div class="hint-in2a">
                    <span class="hint-in2a1">用量</span>
                    <span class="hint-in2a2"><input value="100" name="" type="text"
                                                    class="quantity"></span>
                </div>
                <div class="hint-in2a">
                    <span class="hint-in2a1">是否首保</span>
                    <span class="hint-in2a2 radio">
                                    <label style="margin-left: 26px" for="RunHuaRadioYes">是:</label>
                                    <input value=""
                                           name="ruanhua-is-first-period"
                                           type="radio"
                                           id="RunHuaRadioYes">
                                    <label for="RunHuaRadioNo">否:</label>
                                    <input value=""
                                           name="ruanhua-is-first-period"
                                           type="radio"
                                           checked="checked"
                                           id="RunHuaRadioNo">
                                </span>

                </div>
            </div>
            <a class="hint-in3 confirm" href="#">确定</a>
        </div>
        <div class="hint postpone">
            <div class="hint-in1">
                <div class="hint1"></div>
                <div class="hint2">延期</div>
                <div class="hint3"></div>
            </div>
            <div class="hint-in2">
                <div class="hint-in2a">
                    <span class="hint-in2a1">延期日期</span>
                    <span class="hint-in2a2">
                                    <input value=""
                                           name=""
                                           type="text"
                                           class="equ_no_val postpone-date"
                                    >
                                </span>

                </div>
                <div class="hint-in2a">
                    <span class="hint-in2a1">延期时长</span>
                    <span class="hint-in2a2">
                                    <input value="300"
                                           name=""
                                           type="text"
                                           class="equ_name_val postpone-hours"
                                    >
                                </span>
                </div>

                <div class="hint-in2a">
                    <span class="hint-in2a1">延期原因</span>
                    <span class="hint-in2a2">
                                    <input value="设备维修"
                                           name=""
                                           type="text"
                                           class="equ_name_val postpone-reason"
                                    >
                                </span>
                </div>
                <div class="hint-in2a">
                    <span class="hint-in2a1">是否首保</span>
                    <span class="hint-in2a2 radio">
                                    <label style="margin-left: 26px" for="YanQiRadioYes">是:</label>
                                    <input value=""
                                           name="is-first-period"
                                           type="radio"
                                           id="YanQiRadioYes">
                                    <label for="YanQiRadioNo">否:</label>
                                    <input value=""
                                           name="is-first-period"
                                           type="radio"
                                           checked="checked"
                                           id="YanQiRadioNo">
                                </span>

                </div>
            </div>
            <a class="hint-in3 confirm" href="#">确定</a>
        </div>
        <div class="hintl">
            <div class="hintl-in1">
                <div class="hintl1"></div>
                <div class="hintl2">设备润滑删除窗口</div>
                <div class="hint3"></div>
            </div>
            <div class="hintl-in2">是否删除该设备润滑标准？</div>
            <a class="hintl-in3 confirm-del" href="javascript:;">是</a>
            <a class="hintl-in4" href="javascript:;">否</a>
        </div>
    </div>

    <div id="ft" class="ue-clear rh_foot">
        <div class="ft-left"><em>版权所有：赵奇创新工作室</em></div>
        <div class="ft-right"><em>技术支持：非同科技</em></div>
    </div>
</div>
<?php require(APP_PATH.'/oiling/view/manager/common/exitDialog.html');?>
<?php require(APP_PATH.'/oiling/view/manager/common/footer.html');?>
<script src="__JS__/data.js"></script>
<script>
    //设置标签
    $('title').html('*{$detail.equ_oil_name}');
    $('.runhua').click(function () {
        $('.tanchuang .oiling').show(100);
        $('.oiling-time').val(formatDate(new Date(), 'yyyy年MM月dd日'));
        var id = $(this).data('id'),
            userId = $(this).data('user_id'),
            equNo = $(this).data('equ_no'),
            equOilNo = $(this).data('equ_oil_no'),
            equName = $(this).data('equ_name'),
            equOilName = $(this).data('equ_oil_name');
        $('.oiling .confirm').unbind('click').click(function (e) {
            e.stopPropagation();
            var quantity = $('.quantity').val(),
                oilNo = $('.oilNo').val(),
                isFirstPeriod = $('#RunHuaRadioYes').attr('checked') ? 1 : 0,
                delWarningTime = $('.oiling-time').val().replace(/^\s+|\s+$/gm, '');
            var params = {
                url: 'oiling/info/lubricate',
                type: 'post',
                data: {
                    id: id,
                    user_id: userId,
                    equ_no: equNo,
                    equ_oil_no: equOilNo,
                    equ_name: equName,
                    equ_oil_name: equOilName,
                    is_first_period: isFirstPeriod,
                    warning_type: 1,
                    del_warning_time: delWarningTime,
                    oil_no: oilNo,
                    quantity: quantity
                },
                sCallback: function (data) {
                    $('.tanchuang .oiling').hide(100);
                    window.location.reload();
                },
                eCallback: function (err) {
                    if (err.errcode == 1) {
                        alert(err.msg);
                    }
                }
            };
            window.base.getData(params);
        });
    });
    $('.yanqi').click(function () {
        $('.tanchuang .postpone').show(100);
        $('.postpone-date').val(formatDate(new Date(), 'yyyy年MM月dd日'));
        var id = $(this).data('id'),
            userId = $(this).data('user_id'),
            equNo = $(this).data('equ_no'),
            equOilNo = $(this).data('equ_oil_no'),
            equName = $(this).data('equ_name'),
            howLong = $(this).data('how_long'),
            equOilName = $(this).data('equ_oil_name');
        $('.postpone .confirm').unbind('click').click(function (e) {
            e.stopPropagation();
            var postponeDate = $('.postpone-date').val().replace(/^\s+|\s+$/gm, ''),
                postponeHours = $('.postpone-hours').val(),
                isFirstPeriod = $('#YanQiRadioYes').attr('checked') ? 1 : 0,
                postponeReason = $('.postpone-reason').val();
            var params = {
                url: 'oiling/info/postpone?XDEBUG_SESSION_START=11295',
                type: 'post',
                data: {
                    id: id,
                    user_id: userId,
                    equ_no: equNo,
                    equ_oil_no: equOilNo,
                    equ_name: equName,
                    equ_oil_name: equOilName,
                    is_first_period: isFirstPeriod,
                    warning_type: 0,
                    how_long: howLong,
                    del_warning_time: postponeDate,
                    postpone: postponeHours,
                    postpone_reason: postponeReason
                },
                sCallback: function (data) {
                    $('.tanchuang .postpone').hide(100);
                    window.location.reload();
                },
                eCallback: function (err) {
                    if (err.errcode == 1) {
                        alert(err.msg);
                    }
                }
            };
            window.base.getData(params);
        });
    });
    *{if condition="$scope==36"}
    //编辑润滑标准条目信息
    $(document).on('dblclick', '.edit-item-standard', function (e) {
        var _this = $(this),
            oldVal = _this.html(),
            url = 'oiling/standard/edititem/';
        oldVal = oldVal.replace(/(^\s*)|(\s*$)/g, "");
        var long = oldVal.length?(oldVal.length * 12):'20';
        if (!/input/.test(oldVal)) {
            _this.html('<input type="text" value="' + oldVal + '" style="width: ' + long + 'px">');
        }
        var input = _this.find('input');
        input.select();
        window.base.editItemByDblClick(_this, input, oldVal, url,function () {
            location.reload();
        },function (err) {
            err.msg&&alert(err.msg)
        });
    });
    *{/if}
    //编辑消警记录
    *{if condition="$scope>=18"}
        $(document).on('dblclick', '.edit-item-info', function (e) {
        var _this = $(this),
            oldVal = _this.html(),
            url = 'oiling/info/edititem/';
        oldVal = oldVal.replace(/(^\s*)|(\s*$)/g, "");
        var long = oldVal.length?(oldVal.length * 12):'20';
        if (!/input/.test(oldVal)) {
            _this.html('<input type="text" value="' + oldVal + '" style="width: ' + long + 'px">');
        }
        var input = _this.find('input');
        input.select();
        window.base.editItemByDblClick(_this, input, oldVal, url,function () {
            location.reload();
        },function (err) {
            if (err.errcode==1) {
               err.msg && alert(err.msg);
            }
        });
    });
    *{/if}
//删除
    $('.rhd_xqb table tbody tr:first-child td.operate').html('<a href="javascript:;" class="del">删除</a>');
    $('.del-td').on('click', 'a', function () {
        $('.hintl').show(100);
        var _this = $(this),
            id = _this.parent().data('id'),
            type = _this.parent().data('type');
        $('.confirm-del').click(function (e) {
            e.stopPropagation();
            var params = {
                url: 'oiling/' + type + '/del/' + id + '?XDEBUG_SESSION_START=11353',
                type: 'delete',
                sCallback: function (data) {
                    _this.parent().parent().hide(200).remove();
//                    $(document).find('.rhd_xqb table tbody tr:first-child td.operate').html('<a href="javascript:;" class="del">删除</a>');
                    window.location.reload();
                },
                eCallback: function (err) {
                    console.log(err);
                }
            };
            window.base.getData(params);
        });
    });

    $('#addOilAnalysisItem').click(function (e) {
        e.stopPropagation();
        $('.add-oil-analysis-box #samplingTime').val(formatDate(new Date(), 'yyyy年MM月dd日'));
        $('.addoilanalysis').show(100);
        var equNo = $(this).data('equ_no'),
            equOilNo = $(this).data('equ_oil_no'),
            equName = $(this).data('equ_name'),
            equOilOame = $(this).data('equ_oil_name');
        $('.oil-analysis-confirm').click(function (event) {
            event.stopPropagation();
            var samplingTime = $("#samplingTime").val(),
                Fe = $("#Fe").val(),
                Cu = $("#Cu").val(),
                Al = $("#Al").val(),
                Si = $("#Si").val(),
                Na = $("#Na").val(),
                PQ = $("#PQ").val(),
                viscosity = $("#viscosity").val(),
                params = {
                    url: 'oiling/analysis/add',
                    type: 'post',
                    data: {
                        equ_no: equNo,
                        equ_oil_no: equOilNo,
                        equ_name: equName,
                        equ_oil_name: equOilOame,
                        sampling_time: samplingTime,
                        Fe: Fe,
                        Cu: Cu,
                        Al: Al,
                        Si: Si,
                        Na: Na,
                        PQ: PQ,
                        viscosity: viscosity,
                    },
                    sCallback: function (data) {
                        window.location.reload();
                    },
                    eCallback: function (err) {
                        if (err.errcode == 2) {
                            err.msg.sampling_time && alert(err.msg.sampling_time);
                            err.msg.Fe && alert(err.msg.Fe);
                            err.msg.Cu && alert(err.msg.Cu);
                            err.msg.Al && alert(err.msg.Al);
                            err.msg.Si && alert(err.msg.Si);
                            err.msg.Na && alert(err.msg.Na);
                            err.msg.PQ && alert(err.msg.PQ);
                            err.msg.viscosity && alert(err.msg.viscosity);
                        }
                        if (err.errcode == 1) {
                            alert(err.msg);
                        }
                    }
                };
            window.base.getData(params);
            $('.add-oil-analysis-box').hide(100);

        });
        $('.oil-analysis-cancel').click(function () {
            $('.add-oil-analysis-box').hide(100);
        });
    });

    $('#addWorkHour').click(function (e) {
        e.stopPropagation();
        $('#startTime').val(formatDate(new Date(), 'yyyy年MM月dd日'));
        $('.workhour').show(100);
        var equNo = $(this).data('equ_no'),
            equOilNo = $(this).data('equ_oil_no'),
            equOilOame = $(this).data('equ_oil_name');
        $('.workhour-confirm').click(function (e) {
            e.stopPropagation();
            var startTime = $('#startTime').val(),
                workingHour = $('#workingHour').val(),
                params = {
                    url: 'oiling/workhour/add',
                    type: 'post',
                    data: {
                        equ_no: equNo,
                        equ_oil_no: equOilNo,
                        equ_oil_name: equOilOame,
                        start_time: startTime,
                        working_hour: workingHour
                    },
                    sCallback: function (data) {
                        window.location.reload();
                    },
                    eCallback: function (err) {
                        if (err.errcode == 1) {
                            alert(err.msg);
                        }
                    }
                };
            window.base.getData(params);
            $('.add-oil-analysis-box').hide(100);

        });
        $('.workhour-cancel').click(function () {
            $('.add-oil-analysis-box').hide(100);
        });
    });

    //图表

    $('.table_card .tab li').click(function () {
        var ele = $(this).data('ele');
        var equKeyNo = $('.tab').data('equ_key_no');
        var params = {
            url: 'oiling/analysis/elements/' + equKeyNo,
            async: false,
            sCallback: function (data) {
               var eleVal=data.data;
                if(ele!='viscosity') {
                    var chartData = {
                        labels: eleVal[ele].date,
                        datasets: [
                            {
                                fillColor: "rgba(220,220,220,0)",
                                strokeColor: "red",
                                pointColor: "red",
                                data: eleVal[ele].normal
                            },
                            {
                                fillColor: "rgba(42,131,207,0.2)",
                                strokeColor: "#2A83CF",
                                pointColor: "rgba(42,131,207,1)",
                                pointStrokeColor: "#2A83CF",
                                data: eleVal[ele].value
                            }

                        ]
                    };
                }
                if(ele=='viscosity') {
                    var chartData = {
                        labels: eleVal[ele].date,
                        datasets: [
                            {
                                fillColor: "rgba(220,220,220,0)",
                                strokeColor: "red",
                                pointColor: "red",
                                data: eleVal[ele].normalMax
                            },
                            {
                                fillColor: "rgba(42,131,207,0.2)",
                                strokeColor: "#2A83CF",
                                pointColor: "rgba(42,131,207,1)",
                                pointStrokeColor: "#2A83CF",
                                data: eleVal[ele].value
                            },
                            {
                                fillColor: "rgba(220,220,220,0)",
                                strokeColor: "red",
                                pointColor: "red",
                                data: eleVal[ele].normalMin
                            },

                        ]
                    };
                }
                chart(chartData)
            }
        };
        window.base.getData(params);
    });
    function chart(chartData) {
        var ctx = document.getElementById("myChart").getContext("2d");
        var options = {
            pointDot : false,
            animation : false
        };
        new Chart(ctx).Line(chartData,options)
    }
    $('.table_card .tab li:eq(0)').trigger('click');



</script>