<?php require(APP_PATH.'/oiling/view/manager/common/header.html');?>
<style>
    hr {
        border: 1px dotted #ececec;
    }

    table tr td.process, table tr td.time {
        border-left: 1px dotted #c7c7c7;
        padding-left: 0;
    }
    table tr td.time {
        text-align: center;
    }
</style>
<table>
    {foreach $list as $k=> $v}
    <tr>
        <td class="process">{$v.equ_no}</td>
        <td class="process">{$v.equ_oil_no}</td>
        <td class="time">{$v.equ_oil_name}</td>
        <td class="process">{$v.oil_no}</td>
        <td class="process">{$v.oil_name}</td>
        <td class="time">{$v.detail}</td>
        <td class="process">{$v.unit}</td>
        <td class="process">{$v.price}</td>
        <td class="process">{$v.date}</td>
        <td class="process">{$v.quantity}</td>
        <td class="process">{$v.total}</td>
    </tr>
    {/foreach}
</table>
<?php require(APP_PATH.'/oiling/view/manager/common/footer.html');?>
