<?php require(APP_PATH.'/oiling/view/manager/common/header.html');?>
<div id="container">
    <div id="hd">
        <div class="hd-wrap ue-clear">
            <div class="top-light"></div>
            <h1 class="logo"></h1>
            <div class="login-info ue-clear">
                <div class="welcome ue-clear">欢迎您,<a style="color: #fff;" href="/user/center">&nbsp;*{$account}</a>
                </div>
            </div>
            <div class="toolbar ue-clear">
                <a href="/" class="home-btn">首页</a>
                <a href="javascript:;" class="quit-btn exit"></a>
            </div>
        </div>
    </div>
    <div id="bd">
        <div class="wrap ue-clear">
            <div class="sidebar">
                <h2 class="sidebar-header"><p>功能导航</p></h2>
                <ul class="nav">
                    <li class="office">
                        <div class="nav-header"><a href="standard" class="ue-clear"><span>设备润滑标准</span><i
                                class="icon"></i></a></div>
                    </li>
                    <li class="gongwen current">
                        <div class="nav-header"><a href="info" class="ue-clear"><span>润滑提示与记录</span><i
                                class="icon"></i></a></div>
                    </li>
                    <li class="nav-info">
                        <div class="nav-header"><a href="analysis" class="ue-clear"><span>油脂化验指标分析</span><i
                                class="icon"></i></a></div>
                    </li>
                    <li class="konwledge">
                        <div class="nav-header"><a href="oildetail" class="ue-clear"><span>润滑保养成本管理</span><i
                                class="icon"></i></a></div>
                    </li>
                </ul>
            </div>
            <div class="content">
                <div class="title">
                    <h2>润滑提示与记录</h2>
                    *{if condition="$scope>=18"}
                    <div class="temp-btn-group">
                        下载模板：
                        <a class="excel-temp-btn" href="/download/template?exceltype=workhour">运行时间excel模板</a>
                        <a class="excel-temp-btn" href="/download/template?exceltype=warninginfo">消警记录excel模板</a>
                    </div>
                    *{/if}
                </div>
                <div class="title">
                    <div class="check-content">
                        <span class="select-all">全选:</span>
                        <input class="check-all" type="checkbox">
                        <span class="check-info">下载选中的润滑提示记录</span>
                        <a href="javascript:;" class="check-download">下载</a>
                    </div>
                    *{if condition="$scope>=18"}
                    <div class="uploader orange info">
                        <form>
                            <span>批量上传运行时间或消警记录：</span>
                            <select class="select-type">
                                <option value="exceltype=workhour">运行时间</option>
                                <option value="exceltype=infowarning">消警记录</option>
                            </select>
                            <a href="javascript:;" class="a-upload">
                                <input type="file" name="excel" id=""><span class="showFileName">点击这里上传文件</span>
                            </a>
                            <input type="button" name="file" data-param="exceltype=oilstandard"
                                   class="button upload" value="上传"/>
                        </form>
                    </div>
                    *{/if}
                </div>
                <div class="query">
                    <div class="query-conditions ue-clear">
                        <div class="conditions time ue-clear">
                            <label>时&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;间：</label>
                            <div class="time-select">
                                <input id="monthly1" type="text" placeholder="开始时间">
                                <i class="icon"></i>
                            </div>
                            <span class="line">-</span>
                            <div class="time-select">
                                <input id="monthly2" type="text"
                                       placeholder="结束时间">
                                <i class="icon"></i>
                            </div>
                        </div>
                        <div class="query-btn ue-clear cost-confirm">
                            <a href="javascript:;" class="confirm info-confirm">查询</a>
                        </div>
                        <div class="query-btn ue-clear cost-confirm">
                            <a href="/oiling/info" class="confirm">最近一次</a>
                        </div>
                    </div>
                </div>
                <div class="table-box">
                    <div class="scroll-box" style="overflow: hidden;overflow-y: auto">
                        <table>
                            <thead>
                            <tr>
                                <th class="num">
                                    选择
                                </th>
                                <th class="time">润滑点（全称）</th>
                                <th class="process">上次消警时间</th>
                                <th class="process">消警类型</th>
                                <th class="process">运行时长</th>
                                <th class="process">当前状态</th>
                                <th class="process">延期时长</th>
                                <th class="process">剩余时间</th>
                                <th class="process">是否首保</th>
                                <th class="operate">操作</th>
                            </tr>
                            </thead>
                            <tbody id="infoTbody">
                            *{foreach $infoList as $v}
                            <tr style="background-color: *{if condition=" $v.status==3"}#ffe0b2*{elseif
                                condition="$v.status==2"
                            /}#fffdcf*{/if};">
                            <td class="num">
                                <input type="checkbox" data-id="*{$v.id}" *{if condition="$v.status>=2" }checked*{/if}>
                            </td>
                            <td class="process">*{$v.equ_oil_name}</td>
                            <td class="time">*{$v.del_warning_time|date="Y年m月d日",###}</td>
                            <td class="process">*{$v.warning_type?'润滑':'延期'}</td>
                            <td class="process">*{$v.how_long}</td>
                            <td class="process">*{$v.status==3?'超期':($v.status==2?'临近':'正常')}</td>
                            <td class="process">*{$v.postpone}</td>
                            <td class="process">*{$v.deadline}</td>
                            <td class="process">*{$v.is_first_period?'是':'否'}</td>
                            <td class="operate table-operate">
                                <a href="equdetail/*{$v.equ_key_no}" class="check" target="_blank">查看</a>
                                *{if condition="$scope>=18"}
                                <a href="javascript:;"
                                   class="edit runhua"
                                   data-id="*{$v.id}"
                                   data-user_id="*{$userId}"
                                   data-equ_no="*{$v.equ_no}"
                                   data-equ_oil_no="*{$v.equ_oil_no}"
                                   data-equ_name="*{$v.equ_name}"
                                   data-equ_oil_name="*{$v.equ_oil_name}"
                                   data-del_warning_time="*{$v.del_warning_time|date=" Y年m月d日",###}"
                                data-equ_key_no="*{$v.equ_key_no}"
                                >润滑</a>
                                <a href="javascript:;"
                                   class="edit yanqi"
                                   data-id="*{$v.id}"
                                   data-user_id="*{$userId}"
                                   data-equ_no="*{$v.equ_no}"
                                   data-equ_oil_no="*{$v.equ_oil_no}"
                                   data-equ_name="*{$v.equ_name}"
                                   data-equ_oil_name="*{$v.equ_oil_name}"
                                   data-how_long="*{$v.how_long}"
                                   data-del_warning_time="*{$v.del_warning_time|date=" Y年m月d日",###}"
                                data-equ_key_no="*{$v.equ_key_no}"
                                >延期</a>
                                *{/if}
                            </td>
                            </tr>
                            *{/foreach}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tanchuang">
                    <div class="hint oiling">
                        <div class="hint-in1">
                            <div class="hint1"></div>
                            <div class="hint2">润滑</div>
                            <div class="hint3"></div>
                        </div>
                        <div class="hint-in2">
                            <div class="hint-in2a">
                                <span class="hint-in2a1">润滑日期</span>
                                <span class="hint-in2a2">
                                    <input value=""
                                           name=""
                                           type="text"
                                           class="oiling-time">
                                </span>

                            </div>
                            <div class="hint-in2a">
                                <span class="hint-in2a1">物料编号</span>
                                <span class="hint-in2a2">
                                    <select name="" class="oilNo">
                                        *{foreach $oilNoList as $v}
                                        <option value="*{$v.oil_no}">*{$v.oil_no} | *{$v.oil_name} | *{$v.detail}</option>
                                        *{/foreach}
                                    </select>
                                </span>
                            </div>

                            <div class="hint-in2a">
                                <span class="hint-in2a1">用量</span>
                                <span class="hint-in2a2"><input value="100" name="" type="text"
                                                                class="quantity"></span>
                            </div>

                        </div>
                        <a class="hint-in3 confirm" href="#">确定</a>
                    </div>
                    <div class="hint postpone">
                        <div class="hint-in1">
                            <div class="hint1"></div>
                            <div class="hint2">延期</div>
                            <div class="hint3"></div>
                        </div>
                        <div class="hint-in2">
                            <div class="hint-in2a">
                                <span class="hint-in2a1">延期日期</span>
                                <span class="hint-in2a2">
                                    <input value=""
                                           name=""
                                           type="text"
                                           class="equ_no_val postpone-date"
                                    >
                                </span>

                            </div>
                            <div class="hint-in2a">
                                <span class="hint-in2a1">延期时长</span>
                                <span class="hint-in2a2">
                                    <input value="300"
                                           name=""
                                           type="text"
                                           class="equ_name_val postpone-hours"
                                    >
                                </span>
                            </div>

                            <div class="hint-in2a">
                                <span class="hint-in2a1">延期原因</span>
                                <span class="hint-in2a2">
                                    <input value="设备维修"
                                           name=""
                                           type="text"
                                           class="equ_name_val postpone-reason"
                                    >
                                </span>
                            </div>

                        </div>
                        <a class="hint-in3 confirm" href="#">确定</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div id="ft" class="ue-clear">
        <div class="ft-left">
            <span>神华集团</span>
            <em>设备润滑管理系统</em>
        </div>
        <div class="ft-right">
            <span>非同科技</span>
            <em>2017</em>
        </div>
    </div>
</div>

<?php require(APP_PATH.'/oiling/view/manager/common/exitDialog.html');?>
<?php require(APP_PATH.'/oiling/view/manager/common/footer.html');?>
<script src="__JS__/data.js"></script>
<script src="__JS__/jquery.monthpicker.js"></script>
<script type="text/html" id="infoListTemplate">
    {{each(index,item) data}}
    <tr>
        <td class="num">
            <input type="checkbox" data-id="${item.id}">
        </td>
        <td class="process">${item.equ_oil_name}</td>
        <td class="time">${item.del_warning_time}</td>
        <td class="process">{{if item.warning_type==1}}润滑{{else}}延期{{/if}}</td>
        <td class="process">${item.how_long}</td>
        <td class="process">{{if item.status==3}}超期{{else item.status==2}}临近{{else}}正常{{/if}}</td>
        <td class="process">${item.postpone}</td>
        <td class="process">${item.deadline}</td>
        <td class="process">{{if item.is_first_period==1}}是{{else}}否{{/if}}</td>
        <td class="operate table-operate">
            <a href="equdetail/${item.equ_key_no}" class="check" target="_blank">查看</a>
        </td>

    </tr>
    {{/each}}
</script>
<script>
    $(function () {
        $('title').html('润滑提示与记录');
        var scrollHeight = $(document).height() - $('.scroll-box').offset().top - 27;
        $('.scroll-box').css('height', scrollHeight);
//        $(document).find('tr:odd').css("backgroundColor", "#eff6fa");

        var ids = [];
        $('.check-download').click(function () {
            $('#infoTbody input').each(function (index, value) {
                if ($(value).attr('checked')) {
                    ids.push($(value).data('id'));
                }
            });
            var idsStr = ids.join(','),
                url = 'info/download/' + idsStr + '?exceltype=infowarning';
            if (ids.length != 0) {
                window.location.href = url;
            }
        });
        $('.check-all').click(function () {
            if ($(this).attr('checked')) {
                $('#infoTbody input').each(function (index, value) {
                    $(value).attr('checked', true);
                });
            } else {
                $('#infoTbody input').each(function (index, value) {
                    $(value).attr('checked', false);
                });
            }
        });
        $('#infoTbody input').click(function () {
            $('#infoTbody input').each(function (index, value) {
                if (!$(value).attr('checked')) {
                    $('.check-all').attr('checked', false);
                    return false;
                }
                $('.check-all').attr('checked', true);
            });
        });
        $('.upload').click(function (e) {
            var exceltype = $('.select-type').val(),
                params = {
                    url: 'oiling/upload?' + exceltype + '&XDEBUG_SESSION_START=15134',
                    data: new FormData($(this).parent()[0]),
                    sCallback: function (data) {
                        alert('上传成功');
                        window.location.reload();
                    }
                };
            window.base.uploadFile(params);
        });
        $('.runhua').click(function () {
            $('.tanchuang .oiling').show(100);
            $('.oiling-time').val(formatDate(new Date(), 'yyyy年MM月dd日'));
            var id = $(this).data('id'),
                userId = $(this).data('user_id'),
                equNo = $(this).data('equ_no'),
                equOilNo = $(this).data('equ_oil_no'),
                equName = $(this).data('equ_name'),
                equOilName = $(this).data('equ_oil_name');
            $('.oiling .confirm').click(function (e) {
                e.stopPropagation();
                var quantity = $('.quantity').val(),
                    oilNo = $('.oilNo').val(),
                    delWarningTime = $('.oiling-time').val().replace(/^\s+|\s+$/gm, '');
                var params = {
                    url: 'oiling/info/lubricate?XDEBUG_SESSION_START=15134',
                    type: 'post',
                    data: {
                        id: id,
                        user_id: userId,
                        equ_no: equNo,
                        equ_oil_no: equOilNo,
                        equ_name: equName,
                        equ_oil_name: equOilName,
                        is_first_period: 0,
                        warning_type: 1,
                        del_warning_time: delWarningTime,
                        oil_no: oilNo,
                        quantity: quantity
                    },
                    sCallback: function (data) {
                        window.location.reload();
                    },
                    eCallback: function (err) {
                        if (err.errcode == 1) {
                            alert(err.msg);
                        }
                    }
                };
                window.base.getData(params);
            });
        });
        $('.yanqi').click(function () {
            $('.tanchuang .postpone').show(100);
            $('.postpone-date').val(formatDate(new Date(), 'yyyy年MM月dd日'));
            var id = $(this).data('id'),
                userId = $(this).data('user_id'),
                equNo = $(this).data('equ_no'),
                equOilNo = $(this).data('equ_oil_no'),
                equName = $(this).data('equ_name'),
                howLong = $(this).data('how_long'),
                equOilName = $(this).data('equ_oil_name');
            $('.postpone .confirm').click(function (e) {
                e.stopPropagation();
                var postponeDate = $('.postpone-date').val().replace(/^\s+|\s+$/gm, ''),
                    postponeHours = $('.postpone-hours').val(),
                    postponeReason = $('.postpone-reason').val();
                var params = {
                    url: 'oiling/info/postpone?XDEBUG_SESSION_START=19741',
                    type: 'post',
                    data: {
                        id: id,
                        user_id: userId,
                        equ_no: equNo,
                        equ_oil_no: equOilNo,
                        equ_name: equName,
                        equ_oil_name: equOilName,
                        is_first_period: 0,
                        warning_type: 0,
                        how_long: howLong,
                        del_warning_time: postponeDate,
                        postpone: postponeHours,
                        postpone_reason: postponeReason
                    },
                    sCallback: function (data) {
                        window.location.reload();
                    },
                    eCallback: function (err) {
                        if (err.errcode == 1) {
                            alert(err.msg);
                        }
                    }
                };
                window.base.getData(params);
            });
        });

        //日期
        $('#monthpicker').monthpicker({
            topOffset: 6,
            onMonthSelect: function (m, y) {
                console.log('Month: ' + m + ', year: ' + y);
            }
        });
        $('#monthly1').monthpicker({
            topOffset: 1
        });
        $('#monthly2').monthpicker({
            topOffset: 1
        });
        $('.info-confirm').click(function () {
            var dateBefore = $('#monthly1').val();
            var dateAfter = $('#monthly2').val();
            if (!dateBefore || !dateAfter || dateBefore >= dateAfter) {
                alert('请输入正确的时间');
                return false;
            }
            var before = (new Date(dateBefore).getTime()) / 1000;
            var after = (new Date(dateAfter).getTime()) / 1000;
            var params = {
                url: '/oiling/info/list/' + before + '/' + after,
                sCallback: function (list) {
                    console.log(list);
                    var data = list.data;
                    for (var i = 0; i < data.length; i++) {
                        list.data[i].del_warning_time = formatDate(new Date(list.data[i].del_warning_time * 1000), 'yyyy年MM月dd日');
                    }
                    $('#infoTbody').html('');
                    $('#infoListTemplate').tmpl(list).appendTo('#infoTbody');
                    $(document).find('tr:odd').css("backgroundColor", "#eff6fa");
                },
                eCallback: function () {
                    alert(dateBefore + '至' + dateAfter + '没有润滑提示与记录');

                }
            };
            window.base.getData(params);
        });

    });
</script>