<?php require(APP_PATH.'/oiling/view/manager/common/header.html');?>
<div id="container">
    <div id="hd">
        <div class="hd-wrap ue-clear">
            <div class="top-light"></div>
            <h1 class="logo"></h1>
            <div class="login-info ue-clear">
                <div class="welcome ue-clear">欢迎您,&nbsp;<a href="/user/center" target="_blank">{$account} </a></div>
            </div>
            <div class="toolbar ue-clear">
                <a href="/" class="home-btn">首页</a>
                <a href="javascript:;" class="quit-btn exit"></a>
            </div>
        </div>
    </div>
    <div id="bd">
        <div class="wrap ue-clear">
            <div class="sidebar">
                <h2 class="sidebar-header"><p>功能导航</p></h2>
                <ul class="nav">
                    <li class="office">
                        <div class="nav-header"><a href="/oiling/standard" class="ue-clear"><span>设备润滑标准</span><i
                                class="icon"></i></a></div>
                    </li>
                    <li class="gongwen">
                        <div class="nav-header"><a href="/oiling/info" class="ue-clear"><span>润滑提示与记录</span><i
                                class="icon"></i></a></div>
                    </li>
                    <li class="nav-info">
                        <div class="nav-header"><a href="/oiling/analysis" class="ue-clear"><span>油脂化验指标分析</span><i
                                class="icon"></i></a></div>
                    </li>
                    <li class="konwledge current">
                        <div class="nav-header"><a href="/oiling/oildetail" class="ue-clear"><span>润滑保养成本管理</span><i
                                class="icon"></i></a></div>
                    </li>
                </ul>
            </div>
            <div class="content">
                <div class="title">
                    <h2>润滑保养成本管理</h2>
                    {if condition="$scope>=18"}
                    <div class="temp-btn-group">
                        下载模板：
                        <a style="width: 160px;" class="excel-temp-btn"
                           href="/template/润滑保养成本.xlsx">润滑保养成本管理excel模板</a>
                    </div>
                    {/if}
                </div>
                <div class="title">
                    <div class="check-content btn-type">
                        <span class="check-info"><a href="/oiling/oildetail/equ">按设备统计</a></span>
                    </div>
                    {if condition="$scope>=18"}
                    <div class="uploader orange oildetail">
                        <form>
                            <span>批量上传润滑保养成本管理：</span>
                            <a href="javascript:;" class="a-upload">
                                <input type="file" name="excel" id=""><span class="showFileName">点击这里上传文件</span>
                            </a>
                            <input type="button" name="file" data-param="exceltype=oildetail"
                                   class="button upload" value="上传"/>
                        </form>
                    </div>
                    {/if}
                </div>
                <div class="query">
                    <div class="query-conditions ue-clear">
                        <div class="conditions time ue-clear">
                            <label>时&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;间：</label>
                            <div class="time-select">
                                <input id="monthly1" type="text" placeholder="开始时间">
                                <i class="icon"></i>
                            </div>
                            <span class="line">-</span>
                            <div class="time-select">
                                <input id="monthly2" type="text"
                                       placeholder="结束时间">
                                <i class="icon"></i>
                            </div>
                        </div>
                        <div class="choose-equ">
                            <select>
                                <option value="all">全部设备</option>
                                {foreach $equs as $v}
                                <option value="{$v.equ_no}">{$v.equ_name}</option>
                                {/foreach}
                            </select>
                        </div>
                        <div class="query-btn ue-clear cost-confirm">
                            <a href="javascript:;" class="confirm">查询</a>
                        </div>
                        <div class="query-btn ue-clear cost-confirm">
                            <a href="JavaScript:;" class="confirm" id="download">下载</a>
                        </div>
                        <div class="search-box">
                            <span class="search-info">搜索润滑保养成本管理：</span>
                            <input style="width:300px " class="search-input" type="text"
                                   placeholder="可以通过物料编号、物料名称或物料描述搜索">
                        </div>
                    </div>
                </div>
                <div class="table-box">
                    <div class="scroll-box" style="overflow: hidden;overflow-y: auto">
                        <table>
                            <thead>
                            <tr>

                                <th class="process">物料编号</th>
                                <th class="process">物料名称</th>
                                <th class="node">物料描述</th>
                                <th class="process">单位</th>
                                <th class="process">单价(元)</th>
                                <th class="process">用量</th>
                                <th class="process">总计(元)</th>
                                <th class="operate">操作</th>
                            </tr>
                            </thead>
                            <tbody id="costTbody">

                            </tbody>
                            <script type="text/html" id="costTemplate">
                                {literal}
                                {{each(i,item) data}}
                                <tr>
                                    <td class="process edit-item" data-id="${item.id}" data-key="oil_no">
                                        ${item.oil_no}
                                    </td>
                                    <td class="process edit-item" data-id="${item.id}" data-key="oil_name">
                                        ${item.oil_name}
                                    </td>
                                    <td class="node edit-item" data-id="${item.id}" data-key="detail">
                                        ${item.detail}
                                    </td>
                                    <td class="process edit-item" data-id="${item.id}" data-key="unit">${item.unit}</td>
                                    <td class="process edit-item" data-id="${item.id}" data-key="price">
                                        ${item.price}
                                    </td>
                                    <td class="process ">${item.how_much}</td>
                                    <td class="process total">${item.total}</td>
                                    <td class="operate table-operate">
                                        <a class="edit getEquName" data-oil_no="${item.oil_no}"
                                           href="javascript:;">查看</a>
                                        <a class="del delOilDetailItem" data-id="${item.id}" href="javascript:;">删除</a>
                                    </td>
                                </tr>
                                {{/each}}
                                {/literal}

                            </script>
                        </table>
                    </div>
                </div>
                <div class="bottom-bar">
                    <div class="total-box ue-clear">
                        <span class="date">2017-01至2018-01</span>
                        <span class="zongji">总计：</span>
                        <span class="num">21701元</span>
                    </div>
                </div>
                <div class="tanchuang-equlist">
                    <div class="tan-box">
                        <div class="inner-box">
                            <h2>查看所属设备列表</h2>
                            <div class="hint3"></div>
                            <table>
                                <thead>
                                <tr>
                                    <th>润滑点名称</th>
                                    <th>润滑时间</th>
                                    <th>用量</th>
                                </tr>
                                </thead>
                                <tbody id="tanBody">
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <script type="text/html" id="tanList">
                    {literal}
                    {{each(i,item) data}}
                    <tr>
                        <td>
                            <a href="javascript:;" data-equ_key_no="${item.equ_key_no}"
                               class="check equ_detail"
                               target="_blank">${item.equ_oil_name}</a>
                        </td>
                        <td>${item.del_warning_time}</td>
                        <td>${item.quantity}</td>
                    </tr>
                    {{/each}}
                    {/literal}
                </script>
                <div class="tanchuang">
                    <div class="hintl">
                        <div class="hintl-in1">
                            <div class="hintl1"></div>
                            <div class="hintl2">设备保养成本管理</div>
                            <div class="hint3"></div>
                        </div>
                        <div class="hintl-in2">是否删除该条油品信息？</div>
                        <a class="hintl-in3 confirm-del" href="javascript:;">是</a>
                        <a class="hintl-in4" href="javascript:;">否</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div id="ft" class="ue-clear">
        <div class="ft-left">
            <span>神华集团</span>
            <em>设备润滑管理系统</em>
        </div>
        <div class="ft-right">
            <span>非同科技</span>
            <em>2017</em>
        </div>
    </div>
</div>
</div>
<?php require(APP_PATH.'/oiling/view/manager/common/exitDialog.html');?>
<?php require(APP_PATH.'/oiling/view/manager/common/footer.html');?>
<script src="__JS__/jquery.monthpicker.js"></script>
<script>
    $(function () {
        $(document).on('click', '.equ_detail', function () {
            var equKeyNo = $(this).data('equ_key_no');
            layer.open({
                type: 2,
                title: '润滑点详情',
                area: ['1300px', '100%'],
                content: ['/oiling/equdetail/' + equKeyNo]
            });
        });
        var oldHtml = '';
        $('title').html('润滑保养成本管理');
        var scrollHeight = $(document).height() - $('.scroll-box').offset().top - 92;
        $('.scroll-box').css('height', scrollHeight);


        var date = new Date(),
            year = date.getFullYear(),
            mouth = (2 + date.getMonth()).toString().length == 1 ? ('0' + (2 + date.getMonth())) : (2 + date.getMonth());
        if (mouth == 13) {
            mouth = 12;
        }
        $('#monthly1').val(year + '-' + '01');
        $('#monthly2').val(year + '-' + mouth);
        $('#monthly1').monthpicker({
            topOffset: 1
        });
        $('#monthly2').monthpicker({
            topOffset: 1
        });
        var before = (new Date($('#monthly1').val()).getTime()) / 1000;
        var after = (new Date($('#monthly2').val()).getTime()) / 1000;
        costList(before, after);

        function costList(before, after) {
            if (before >= after) {
                layer.msg('时间输入有误', {icon: 5});
                return false;
            }
            var equNo = $('select').val();
            var params = {
                url: '/oiling/oildetail/costlist/' + before + '/' + after + '?equ_no=' + equNo + '&XDEBUG_SESSION_START=12350',
                sCallback: function (list) {
                    $(document).find('#costTbody').html('');
                    $('#costTemplate').tmpl(list).appendTo('#costTbody');
                    $(document).find('tr:odd').css("backgroundColor", "#eff6fa");
                    oldHtml = $(document).find('#costTbody').html();
                    var html = "<span class=\"date\">" + $('#monthly1').val() + "至" + $('#monthly2').val() + "</span>\n" +
                        "<span class=\"zongji\">总计：</span>\n" +
                        "<span class=\"num\">" + list.else + "元</span>";
                    $('.total-box').html(html);
                },
                eCallback: function (err) {
                    alert()
                }
            };
            window.base.getData(params);
        }

        $('.cost-confirm').click(function () {
            var before = (new Date($('#monthly1').val()).getTime()) / 1000;
            var after = (new Date($('#monthly2').val()).getTime()) / 1000;
            costList(before, after);
        });
        //编辑润滑标准条目信息
        $(document).on('dblclick', '.edit-item', function (e) {
            var _this = $(this),
                oldVal = _this.html(),
                url = '/oiling/oildetail/edit/';
            oldVal = oldVal.replace(/(^\s*)|(\s*$)/g, "");
            var long = oldVal.length ? (oldVal.length * 12) : '20';
            if (!/input/.test(oldVal)) {
                _this.html('<input type="text" value="' + oldVal + '" style="width: ' + long + 'px">');
            }
            var input = _this.find('input');
            input.select();
            window.base.editItemByDblClick(_this, input, oldVal, url);
        });
        $(document).on('click', '.getEquName', function () {
            $('#tanBody').html('');
            var before = (new Date($('#monthly1').val()).getTime()) / 1000;
            var after = (new Date($('#monthly2').val()).getTime()) / 1000;
            var oilNo = $(this).data('oil_no');
            var equNo = $('select').val();
            var params = {
                url: 'oiling/oildetail/equname/' + oilNo + '/' + before + '/' + after + '?equ_no=' + equNo + '&XDEBUG_SESSION_START=11647',
                sCallback: function (list) {
                    $('.tanchuang-equlist').show(100);
                    $('.tan-box').show(100);
                    $('#tanList').tmpl(list).appendTo('#tanBody');
                },
                eCallback: function (err) {
                    layer.msg('该物料没有被润滑点使用过', {icon: 5});
                }
            };
            window.base.getData(params);

        });
        $(document).on('click', '.delOilDetailItem', function () {
            $('.tanchuang .hintl').show(100);
            var id = $(this).data('id'),
                _this = $(this);
            $('.confirm-del').unbind('click').click(function (e) {
                $('.tanchuang .hintl').hide(100);
                e.stopPropagation();
                var params = {
                    url: '/oiling/oildetail/delete/' + id,
                    type: 'delete',
                    sCallback: function (data) {
                        _this.parent().parent().hide(200).remove();
                    }
                };
                window.base.getData(params);
            });
        });
        $('.upload').click(function () {
            var param = $(this).data('param');
            var params = {
                url: "/oiling/upload?" + param,
                data: new FormData($(this).parent()[0]),
                sCallback: function () {
                    layer.open({
                        content: '上传成功',
                        yes: function (index, layero) {
                            window.location.reload();
                        }
                    });
                },
                eCallback: function (err) {
                    if (err.errcode == 2) {
                        err.msg && layer.msg(err.msg, {icon: 5});
                    }
                }
            }
            window.base.uploadFile(params);
        });
        //搜索
        $(document).on("keyup", '.search-input', function (e) {
            var val = $(this).val();
            if (e.keyCode == 8 && !val) {
                document.getElementById('costTbody').innerHTML = oldHtml;
                var newHtml = $('#costTbody').html();
                return false;
            }
            var params = {
                url: 'oiling/oildetail/search/' + val,
                sCallback: function (list) {
                    if (newHtml == oldHtml) {
                        return false;
                    } else {
                        if (list.errcode === 0) {
                            $('#costTbody').html('');
                            $('#costTemplate').tmpl(list).appendTo('#costTbody');
                            $(document).find('tr:odd').css("backgroundColor", "#eff6fa");
                        }
                    }
                }
            };
            if (val) {
                window.base.getData(params);
            }
        });
        $(document).on('click', '#download', function () {
            var before = (new Date($('#monthly1').val()).getTime()) / 1000;
            var after = (new Date($('#monthly2').val()).getTime()) / 1000;
            var equNo = $('select').val();
            window.location.href = '/oiling/oildetail/download/' + before + '/' + after + '?type=oil&equ_no=' + equNo;
        });
    });
</script>