<?php require(APP_PATH.'/oiling/view/manager/common/header.html');?>
<style>
    iframe {
        width: 100%;
        height: 93%;
    }
</style>
<div id="container">
    <div id="hd">
        <div class="hd-wrap ue-clear">
            <div class="top-light"></div>
            <h1 class="logo"></h1>
            <div class="login-info ue-clear">
                <div class="welcome ue-clear">欢迎您,&nbsp;<a href="/user/center" target="_blank">{$account} </a></div>
            </div>
            <div class="toolbar ue-clear">
                <a href="/" class="home-btn">首页</a>
                <a href="javascript:;" class="quit-btn exit"></a>
            </div>
        </div>
    </div>
    <div id="bd">
        <div class="wrap ue-clear">
            <div class="sidebar">
                <h2 class="sidebar-header"><p>功能导航</p></h2>
                <ul class="nav">
                    <li class="office">
                        <div class="nav-header"><a href="/oiling/standard" class="ue-clear"><span>设备润滑标准</span><i
                                class="icon"></i></a></div>
                    </li>
                    <li class="gongwen">
                        <div class="nav-header"><a href="/oiling/info" class="ue-clear"><span>润滑提示与记录</span><i
                                class="icon"></i></a></div>
                    </li>
                    <li class="nav-info">
                        <div class="nav-header"><a href="/oiling/analysis" class="ue-clear"><span>油脂化验指标分析</span><i
                                class="icon"></i></a></div>
                    </li>
                    <li class="konwledge current">
                        <div class="nav-header"><a href="/oiling/oildetail" class="ue-clear"><span>润滑保养成本管理</span><i
                                class="icon"></i></a></div>
                    </li>
                </ul>
            </div>
            <div class="content">
                <div class="title">
                    <h2>润滑保养成本管理</h2>
                </div>

                <div class="title">
                    <div class="check-content btn-type">
                        <span class="check-info"><a href="/oiling/oildetail">按物料统计</a></span>
                    </div>
                </div>

                <div class="query">
                    <div class="query-conditions ue-clear">
                        <div class="conditions time ue-clear">
                            <label>时&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;间：</label>
                            <div class="time-select">
                                <input id="monthly1" type="text" placeholder="开始时间">
                                <i class="icon"></i>
                            </div>
                            <span class="line">-</span>
                            <div class="time-select">
                                <input id="monthly2" type="text"
                                       placeholder="结束时间">
                                <i class="icon"></i>
                            </div>
                        </div>
                        <div class="choose-equ">
                            <select>
                                <option value="all">全部设备</option>
                                {foreach $equs as $v}
                                <option value="{$v.equ_no}">{$v.equ_name}</option>
                                {/foreach}
                            </select>
                        </div>
                        <div class="query-btn ue-clear cost-confirm">
                            <a href="javascript:;" class="confirm">查询</a>
                        </div>
                        <div class="query-btn ue-clear cost-confirm">
                            <a href="JavaScript:;" class="confirm" id="download">下载</a>
                        </div>
                    </div>
                </div>
                <div class="table-box">
                    <div class="scroll-box" style="overflow: hidden;overflow-y: auto">
                        <table>
                            <thead>
                            <tr>
                                <th class="process">设备编号</th>
                                <th class="process">润滑点编号</th>
                                <th class="time">润滑点名称</th>
                                <th class="process">物料编号</th>
                                <th class="process">物料名称</th>
                                <th class="time" style="text-align: center;">物料描述</th>
                                <th class="process">单位</th>
                                <th class="process">单价(元)</th>
                                <th class="process">润滑日期</th>
                                <th class="process">用量</th>
                                <th class="process">总计(元)</th>
                            </tr>
                            </thead>
                        </table>
                        <iframe src="/oiling/oildetail/equoildetailtable" frameborder="0"></iframe>
                    </div>
                </div>
                <div class="bottom-bar">
                    <div class="total-box ue-clear">
                        <span class="date">2017-01至2018-01</span>
                        <span class="zongji">总计：</span>
                        <span class="num">21701元</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="ft" class="ue-clear">
        <div class="ft-left">
            <span>神华集团</span>
            <em>设备润滑管理系统</em>
        </div>
        <div class="ft-right">
            <span>非同科技</span>
            <em>2017</em>
        </div>
    </div>
</div>
</div>
<?php require(APP_PATH.'/oiling/view/manager/common/exitDialog.html');?>
<?php require(APP_PATH.'/oiling/view/manager/common/footer.html');?>
<script src="__JS__/jquery.monthpicker.js"></script>
<script>
    $(function () {
        $('title').html('润滑保养成本管理');
        var scrollHeight = $(document).height() - $('.scroll-box').offset().top - 92;
        $('.scroll-box').css('height', scrollHeight);
        var date = new Date(),
            year = date.getFullYear(),
            mouth = (2 + date.getMonth()).toString().length == 1 ? ('0' + (2 + date.getMonth())) : (2 + date.getMonth());
        if (mouth == 13) {
            mouth = 12;
        }
        $('#monthly1').val(year + '-' + '01');
        $('#monthly2').val(year + '-' + mouth);
        $('#monthly1').monthpicker({
            topOffset: 1
        });
        $('#monthly2').monthpicker({
            topOffset: 1
        });

        costList('all');

        function costList(equNo) {
            var before = (new Date($('#monthly1').val()).getTime()) / 1000;
            var after = (new Date($('#monthly2').val()).getTime()) / 1000;
            if (before >= after) {
                layer.msg('时间输入有误', {icon: 5});
                return false;
            }
            var url = '/oiling/oildetail/equoildetailtable/' + before + '/' + after + '?equ_no=' + equNo;
            $('iframe').attr('src', url);
            var getCostUrl = '/oiling/oildetail/totalprice/' + before + '/' + after + '?equ_no=' + equNo + '&XDEBUG_SESSION_START=11261'
            $.get(getCostUrl, function (data) {
                var totalPrice = data.data;
                var html = "<span class=\"date\">" + $('#monthly1').val() + "至" + $('#monthly2').val() + "</span>\n" +
                    "<span class=\"zongji\">总计：</span>\n" +
                    "<span class=\"num\">" + totalPrice + "元</span>";
                $('.total-box').html(html);
            });
        }

        $('.cost-confirm').click(function () {
            var equNo = $('select').val();
            costList(equNo);
        });
        $(document).on('click', '#download', function () {
            var before = (new Date($('#monthly1').val()).getTime()) / 1000;
            var after = (new Date($('#monthly2').val()).getTime()) / 1000;
            var equNo = $('select').val();
            window.location.href = '/oiling/oildetail/download/' + before + '/' + after + '?type=equ&equ_no=' + equNo;
        });
    });
</script>