<?php require(APP_PATH.'/oiling/view/manager/common/header.html');?>
<div id="container">
    <div id="hd">
        <div class="hd-wrap ue-clear">
            <div class="top-light"></div>
            <h1 class="logo"></h1>
            <div class="login-info ue-clear">
                <div class="welcome ue-clear">欢迎您,&nbsp;*{$account}</div>
            </div>
            <div class="toolbar ue-clear">
                <a href="/" class="home-btn">首页</a>
                <a href="javascript:;" class="quit-btn exit"></a>
            </div>
        </div>
    </div>
    <div id="bd">
        <div class="wrap ue-clear">
            <div class="sidebar">
                <h2 class="sidebar-header"><p>功能导航</p></h2>
                <ul class="nav">
                    <li class="office">
                        <div class="nav-header"><a href="standard" class="ue-clear"><span>设备润滑标准</span><i
                                class="icon"></i></a></div>
                    </li>
                    <li class="gongwen">
                        <div class="nav-header"><a href="info" class="ue-clear"><span>润滑提示与记录</span><i
                                class="icon"></i></a></div>
                    </li>
                    <li class="nav-info">
                        <div class="nav-header"><a href="analysis" class="ue-clear"><span>油脂化验指标分析</span><i
                                class="icon"></i></a></div>
                    </li>
                    <li class="konwledge current">
                        <div class="nav-header"><a href="oildetail" class="ue-clear"><span>润滑保养成本管理</span><i
                                class="icon"></i></a></div>
                    </li>
                </ul>
            </div>
            <div class="content">
                <div class="title">
                    <h2>润滑保养成本管理</h2>
                    *{if condition="$scope>=18"}
                    <div class="temp-btn-group">
                        下载模板：
                        <a style="width: 160px;" class="excel-temp-btn"
                           href="/download/template?exceltype=oildetail">润滑保养成本管理excel模板</a>
                    </div>
                    *{/if}
                </div>
                *{if condition="$scope>=18"}
                <div class="title">
                    <div class="uploader orange oildetail">
                        <form>
                            <span>批量上传润滑保养成本管理：</span>
                            <a href="javascript:;" class="a-upload">
                                <input type="file" name="excel" id=""><span class="showFileName">点击这里上传文件</span>
                            </a>
                            <input type="button" name="file" data-param="exceltype=oildetail"
                                   class="button upload" value="上传"/>
                        </form>
                    </div>
                </div>
                *{/if}
            </div>
        </div>
        <div id="ft" class="ue-clear">
            <div class="ft-left">
                <span>神华集团</span>
                <em>设备润滑管理系统</em>
            </div>
            <div class="ft-right">
                <span>非同科技</span>
                <em>2017</em>
            </div>
        </div>
    </div>

    <?php require(APP_PATH.'/oiling/view/manager/common/exitDialog.html');?>
    <?php require(APP_PATH.'/oiling/view/manager/common/footer.html');?>
