<?php require(APP_PATH.'/oiling/view/manager/common/header.html');?>
<style>
    .equ_tab {
        display: none;
    }

    .active {
        display: block;
    }
</style>
<div id="container">
    <div id="hd">
        <div class="hd-wrap ue-clear">
            <div class="top-light"></div>
            <h1 class="logo"></h1>
            <div class="login-info ue-clear">
                <div class="welcome ue-clear">欢迎您,&nbsp;{$account}</div>
            </div>
            <div class="toolbar ue-clear">
                <a href="/" class="home-btn">首页</a>
                <a href="javascript:;" class="quit-btn exit"></a>
            </div>
        </div>
    </div>
    <div id="bd">
        <div class="wrap ue-clear">
            <div class="sidebar">
                <h2 class="sidebar-header"><p>功能导航</p></h2>
                <ul class="nav">
                    <li class="nav-standard current">
                        <div class="nav-header"><a href="standard" class="ue-clear"><span>设备润滑标准</span><i
                                class="icon"></i></a></div>
                    </li>
                    <li class="nav-info">
                        <div class="nav-header"><a href="info" class="ue-clear"><span>润滑提示与记录</span><i
                                class="icon"></i></a></div>
                    </li>
                    <li class="nav-analysis">
                        <div class="nav-header"><a href="analysis" class="ue-clear"><span>油脂化验指标分析</span><i
                                class="icon"></i></a></div>
                    </li>
                    <li class="nav-oildetail">
                        <div class="nav-header"><a href="oildetail" class="ue-clear"><span>润滑保养成本管理</span><i
                                class="icon"></i></a></div>
                    </li>
                </ul>
            </div>
            <div class="content">
                <div class="equ_tab equipment active">
                    <div class="title">
                        <h2>设备润滑标准</h2>
                        <div class="uploader orange"><span>批量上传设备润滑标准：</span>
                            <input type="text" class="filename" readonly/>
                            <input type="button" name="file" class="button" value="上传"/>
                            <input type="file" size="30"/>
                        </div>
                    </div>
                    <div class="query">
                        <div class="rhbza">
                            <ul id="equipments">
                                {foreach $list as $v}
                                <li class="equ-item" data-equ_no="{$v.equ_no}">
                                    <a href="javascript:;">
                                        <h2>{$v.equ_name}</h2>
                                        <p>编号：{$v.equ_no}</p>
                                    </a>
                                </li>
                                {/foreach}
                                {if condition="$scope===36"}
                                <li><a href="#" style=" font-size:36px">+</a></li>
                                {/if}
                            </ul>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="equ_tab equ_sta_list">
                    <div class="title">
                        <h2>设备润滑标准 &gt; 一号破碎站设备润滑点</h2>
                        <a href="设备润滑标准-1.html" class="more">返回</a>
                    </div>
                    <div class="query">
                        <div class="query-conditions ue-clear">
                            <div class="conditions staff ue-clear">
                                <input type="text" placeholder="请输入要查询的内容"/>
                                <div class="query-btn ue-clear" style=" padding:0 0 0 20px;">
                                    <a href="#" class="confirm">搜 索</a></div>
                            </div>
                        </div>
                    </div>

                    <div class="table-box">
                        <table>
                            <thead>
                            <tr>
                                <th class="num">编号</th>
                                <th class="time">润滑点（全称）</th>
                                <th class="process">物料编码</th>
                                <th class="process">用量</th>
                                <th class="process">单位</th>
                                <th class="process">更换最长周期</th>
                                <th class="process">油脂采样间隔</th>
                                <th class="operate">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="num">1</td>
                                <td class="time">1号破碎站给料机电动机1前段轴承</td>
                                <td class="process">1077231</td>
                                <td class="process">100</td>
                                <td class="process">500</td>
                                <td class="process">3500</td>
                                <td class="process">500</td>
                                <td class="operate table-operate">
                                    <a href="#" class="check">查看</a>
                                    <a href="#" class="edit">编辑</a>
                                    <a href="#" class="del">删除</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="pagination ue-clear"></div>
                </div>
                <div class="equ_tab equ_detail">

                </div>
            </div>
        </div>
    </div>
    <div id="ft" class="ue-clear">
        <div class="ft-left">
            <span>神华集团</span>
            <em>设备润滑管理系统</em>
        </div>
        <div class="ft-right">
            <span>非同科技</span>
            <em>2017</em>
        </div>
    </div>
</div>

<?php require(APP_PATH.'/oiling/view/manager/common/exitDialog.html');?>
<?php require(APP_PATH.'/oiling/view/manager/common/footer.html');?>
<script>
    $('#equipments').on('click', '.equ-item', function () {
        var equ_no = $(this).data('equ_no'),
            params = {
                url: 'oiling/standard/' + equ_no,
                sCallback: function (list) {

                }
            };
        window.base.getData(params);
    });
</script>
