<?php require(APP_PATH.'/oiling/view/manager/common/header.html');?>
<style>
    .equ_tab {
        display: none;
    }

    .active {
        display: block;
    }
</style>
<div id="container">
    <div id="hd">
        <div class="hd-wrap ue-clear">
            <div class="top-light"></div>
            <h1 class="logo"></h1>
            <div class="login-info ue-clear">
                <div class="welcome ue-clear">欢迎您, <a style="color: #fff;" href="/user/center">&nbsp;*{$account}</a></div>
            </div>
            <div class="toolbar ue-clear">
                <a href="/" class="home-btn">首页</a>
                <a href="javascript:;" class="quit-btn exit"></a>
            </div>
        </div>
    </div>
    <div id="bd">
        <div class="wrap ue-clear">
            <div class="sidebar">
                <h2 class="sidebar-header"><p>功能导航</p></h2>
                <ul class="nav">
                    <li class="office current">
                        <div class="nav-header"><a href="standard" class="ue-clear"><span>设备润滑标准</span><i
                                class="icon"></i></a></div>
                    </li>
                    <li class="gongwen">
                        <div class="nav-header"><a href="info" class="ue-clear"><span>润滑提示与记录</span><i
                                class="icon"></i></a></div>
                    </li>
                    <li class="nav-info">
                        <div class="nav-header"><a href="analysis" class="ue-clear"><span>油脂化验指标分析</span><i
                                class="icon"></i></a></div>
                    </li>
                    <li class="konwledge">
                        <div class="nav-header"><a href="oildetail" class="ue-clear"><span>润滑保养成本管理</span><i
                                class="icon"></i></a></div>
                    </li>
                </ul>
            </div>
            <div class="content">
                <div class="equ_tab equipment active">
                    <div class="title">
                        <h2>设备润滑标准</h2>
                        *{if condition="$scope==36"}
                        <div class="temp-btn-group">
                            下载模板：
                            <a class="excel-temp-btn"
                               href="info/download/template?exceltype=oilstandard">设备润滑excel模板</a>
                        </div>
                        *{/if}
                    </div>
                    *{if condition="$scope==36"}
                    <div class="title">
                        <div class="uploader orange">
                            <form>
                                <span>批量上传设备润滑标准：</span>
                                <!--<input type="text" class="filename" readonly/>-->
                                <a href="javascript:;" class="standard-a a-upload">
                                    <input type="file" name="excel" id=""><span class="showFileName">点击这里上传文件</span>
                                </a>
                                <input type="button" name="file" data-param="exceltype=oilstandard"
                                       class="button upload" value="上传"/>
                            </form>
                        </div>
                    </div>
                    *{/if}
                    <div class="query">
                        <div class="rhbza">
                            <ul id="equipments">

                                *{foreach $list as $v}
                                <li class="equ-item" data-equ_no="*{$v.equ_no}">
                                    <div class="rhbza1">
                                        <p>编号：*{$v.equ_no}</p>
                                        <h2>*{$v.equ_name}</h2>
                                        *{if condition="$scope===36"}
                                        <p><a class="equ-del"
                                              data-id="*{$v.id}"
                                              href="javascript:;">删除</a>
                                        </p>
                                        *{/if}
                                    </div>
                                </li>
                                *{/foreach}
                                *{if condition="$scope===36"}
                                <li class="rhbza2"><a class=" add-equ" href="javascript:;"
                                                      style=" font-size:36px">+</a></li>
                                *{/if}
                            </ul>

                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="equ_tab equ_sta_list">
                    <script type="text/html" id="equStaListTemp">
                        <div class="title">
                            <h2>设备润滑标准 &gt; ${equ_name}</h2>
                            <a href="standard" class="more">返回</a>
                        </div>
                        <div class="query">
                            <div class="query-conditions ue-clear">
                                <div class="conditions staff ue-clear">
                                    <span style="float: left;font-size: 14px;">搜索润滑点：</span>
                                    <input class="search" type="text" placeholder="请输入要查询的内容"/>
                                    <div class="search-result">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="scroll-box" style="overflow: hidden;overflow-y: auto">
                            <div class="table-box">
                                <table>
                                    <thead>
                                    <tr>
                                        <th class="num">编号</th>
                                        <th class="time">润滑点（全称）</th>
                                        <th class="process">物料编码</th>
                                        <th class="process">用量</th>
                                        <th class="process">单位</th>
                                        <th class="process">更换最长周期</th>
                                        <th class="process">首保周期</th>
                                        <th class="process">油脂采样间隔</th>
                                        *{if condition="$scope===36"}
                                        <th class="operate">操作</th>
                                        *{/if}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {{each oil_standard_list}}
                                    <tr>
                                        <td class="num">${$value.equ_oil_no}</td>
                                        <td class="time edit-item" data-id="${$value.id}" data-key="equ_oil_name">
                                            ${$value.equ_oil_name}
                                        </td>
                                        <td class="process edit-item" data-id="${$value.id}" data-key="oil_no">
                                            ${$value.oil_no}
                                        </td>
                                        <td class="process edit-item" data-id="${$value.id}" data-key="quantity">
                                            ${$value.quantity}
                                        </td>
                                        <td class="process edit-item" data-id="${$value.id}" data-key="unit">
                                            ${$value.unit}
                                        </td>
                                        <td class="process edit-item" data-id="${$value.id}" data-key="period">
                                            ${$value.period}
                                        </td>
                                        <td class="process edit-item" data-id="${$value.id}" data-key="first_period">
                                            ${$value.first_period}
                                        </td>
                                        <td class="process edit-item" data-id="${$value.id}" data-key="interval">
                                            ${$value.interval}
                                        </td>
                                        *{if condition="$scope===36"}
                                        <td class="operate table-operate">
                                            <a href="equdetail/${$value.equ_key_no}" class="check"
                                               target="_blank">查看</a>
                                            <a href="javascript:;" class="del btn2" data-id="${$value.id}">删除</a>
                                        </td>
                                        *{/if}
                                    </tr>
                                    {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="pagination ue-clear"></div>
                    </script>
                </div>
                <div class="tanchuang">
                    <div class="hint">
                        <div class="hint-in1">
                            <div class="hint1"></div>
                            <div class="hint2">设备润滑修改窗口</div>
                            <div class="hint3"></div>
                        </div>
                        <div class="hint-in2">
                            <div class="hint-in2a">
                                <span class="hint-in2a1">编号：</span>
                                <span class="hint-in2a2"><input name="" type="text" class="equ_no_val"></span>

                            </div>
                            <div class="hint-in2a">
                                <span class="hint-in2a1">名称：</span>
                                <span class="hint-in2a2"><input name="" type="text" class="equ_name_val"></span>

                            </div>

                        </div>
                        <a class="hint-in3 confirm" href="#">确定</a>
                    </div>

                    <div class="hintl">
                        <div class="hintl-in1">
                            <div class="hintl1"></div>
                            <div class="hintl2">设备润滑删除窗口</div>
                            <div class="hint3"></div>
                        </div>
                        <div class="hintl-in2">是否删除该设备润滑标准？</div>
                        <a class="hintl-in3 confirm-del" href="javascript:;">是</a>
                        <a class="hintl-in4" href="javascript:;">否</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div id="ft" class="ue-clear">
        <div class="ft-left">
            <span>神华集团</span>
            <em>设备润滑管理系统</em>
        </div>
        <div class="ft-right">
            <span>非同科技</span>
            <em>2017</em>
        </div>
    </div>
</div>
<?php require(APP_PATH.'/oiling/view/manager/common/exitDialog.html');?>
<?php require(APP_PATH.'/oiling/view/manager/common/footer.html');?>
<script>
    $('title').html('设备润滑标准');

    //根据设备编号获取设备润滑标准列表
    var sflag = true;
    $('#equipments').on('click', '.equ-item', function () {
        var equ_no = $(this).data('equ_no'),
            params = {
                url: 'oiling/standard/' + equ_no,
                sCallback: function (list) {
                    $('.equ_tab').removeClass('active');
                    $('.equ_sta_list').addClass('active');
                    if (sflag) {
                        $('#equStaListTemp').tmpl(list.data).appendTo('.equ_sta_list');
                    }
                    sflag = false;
                    $("tbody").find("tr:odd").css("backgroundColor", "#eff6fa");
                    var scrollHeight = $(document).height() - $('.scroll-box').offset().top - 27;
                    $('.scroll-box').css('height', scrollHeight);
                }
            };
        window.base.getData(params);
    });
    //添加新设备
    $(document).on('click', '.add-equ', function (e) {
        $('.hint2').html('添加新设备');
        $(".hint").css({"display": "block"});
        $(".box").css({"display": "block"});
        $('.confirm').click(function () {
            var equNoVal = $('.equ_no_val').val(),
                equNameVal = $('.equ_name_val').val(),
                params = {
                    url: 'oiling/standard/add?XDEBUG_SESSION_START=19426',
                    type: 'post',
                    data: {
                        'equ_no': equNoVal,
                        'equ_name': equNameVal
                    },
                    sCallback: function (data) {
                        console.log(data);
                        location.reload();
                    },
                    eCallback: function (err) {
                        if (err.errcode == 1) {
                            alert(err.msg);
                        }
                    }
                };
            window.base.getData(params);
        });
    });

    //删除设备
    $('.equ-del').on('click', function (event) {
        event.stopPropagation();
        $(".hintl").show(100);
        $(".box").show(100);
        var id = $(this).data('id'),
            _this = $(this);
        $('.confirm-del').on('click', function (event) {
            var params = {
                url: 'oiling/equipment/del/' + id,
                type: 'delete',
                sCallback: function (data) {
                    location.reload();
                },
                eCallback: function (err) {
                    alert('删除失败')
                }
            };
            window.base.getData(params);
        });
    });

    //删除设备润滑标准条目
    $(document).on('click', '.del', function (e) {
        $(".hintl").show(100);
        $(".box").show(100);
        var id = $(this).data('id'),
            _this = $(this);
        $('.confirm-del').click(function (e) {
            e.stopPropagation();
            var params = {
                url: 'oiling/standard/del/' + id,
                type: 'delete',
                sCallback: function (data) {
                    if (!data.errcode) {
                        _this.parent().parent().remove();
                    }
                },
                eCallback: function (err) {
                    console.log(err);
                }
            };
            window.base.getData(params);
        });
    });
    *{if condition="$scope==36"}
    //编辑润滑标准条目信息
    $(document).on('dblclick', '.edit-item', function (e) {
        var _this = $(this),
            oldVal = _this.html(),
            url = 'oiling/standard/edititem/';
        oldVal = oldVal.replace(/(^\s*)|(\s*$)/g, "");
        var long = oldVal.length * 12;
        if (!/input/.test(oldVal)) {
            _this.html('<input type="text" value="' + oldVal + '" style="width: ' + long + 'px">');
        }
        var input = _this.find('input');
        input.select();
        window.base.editItemByDblClick(_this, input, oldVal, url);
    });
    *{/if}
    //上传excel
    $(document).on('click', '.upload', function () {
        console.log(new FormData($(this).parent()[0]))
        var param = $(this).data('param');
        var params = {
            url: 'oiling/upload?' + param + '&XDEBUG_SESSION_START=14788',
            data: new FormData($(this).parent()[0]),
            sCallback: function (data) {
                alert('上传成功');
                window.location.reload();
            },
            eCallback: function (err) {
                console.log(err);
            }
        };
        window.base.uploadFile(params);
    });
    //搜索
    $(document).on("keyup", '.search', function (e) {
        var val = $(this).val(),
            _this = $(this),
            params = {
                url: 'search/' + val,
                sCallback: function (data) {
                    if (data.errcode === 0) {
                        var html = '',
                            list = data.data;
                        for (var i = 0; i < list.length; i++) {
                            html += '<p><a target="_blank" href="equdetail/' + list[i].equ_key_no + '">' + list[i].equ_oil_name + '</a></p>'
                        }
                        $('.search-result').show(100).html(html);
                    } else {
                        $('.search-result').hide(100).html('')
                    }
                }
            };
        if (val) {
            window.base.getData(params);
        } else {
            $('.search-result').hide().html('');
        }
        $(document).on('blur', '.search', function () {
            setTimeout(function () {
            $('.search-result').hide(100).html('');
            },300)

        })
    });
</script>
