<?php require(APP_PATH.'/user/view/common/header.html');?>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <h3>
                设备润滑管理
            </h3>
            <nav class="navbar navbar-default" role="navigation">

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="#">设备状态</a>
                        </li>
                        <li class="">
                            <a href="#">设备润滑标准</a>
                        </li>
                        <li>
                            <a href="#">设备提示与记录</a>
                        </li>
                        <li>
                            <a href="#">油脂化验分析</a>
                        </li>
                        <li>
                            <a href="#">润滑保养成本管理</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#">用户名</a>
                        </li>

                        <li>
                            <a href="#">系统管理</a>
                        </li>

                        <li>
                            <a href="#">个人中心</a>
                        </li>
                        <li>
                            <a href="#">退出</a>
                        </li>
                    </ul>
                </div>

            </nav>
            <div class="alert alert-success alert-dismissable">
                <h4>
                    无报警 <a href="">【查看设备状态】</a>
                </h4>
            </div>
            <img src="__IMG__/equ.jpg" height="" width=""/>
        </div>
    </div>
</div>

<div class="col-md-12">
    <form role="form" class="uploadForm">
        <div class="form-group">
            <label for="excel" class="col-md-3">上传运行时间</label>
            <input class="col-md-3" type="file" id="excel" name="excel"/>
            <a href="javascript:void (0)"
               class="btn btn-default col-md-2 upload_excel"
               data-param="exceltype=workhour">上传
            </a>
        </div>
    </form>
</div>
<div class="col-md-12">
    <form role="form" class="uploadForm">
        <div class="form-group">
            <label for="excel" class="col-md-3">上传润滑提示与润滑记录</label>
            <input class="col-md-3" type="file"  name="excel"/>
            <a href="javascript:void (0)"
               class="btn btn-default col-md-2 upload_excel"
               data-param="exceltype=infowarning">上传
            </a>
        </div>
    </form>
</div>
<?php require(APP_PATH.'/user/view/common/footer.html');?>

<script>
    $(document).on('click', '.upload_excel', function () {
        var param = $(this).data('param');
        var params = {
            url: 'document/info/upload?' + param + '&XDEBUG_SESSION_START=12212',
            data: new FormData($(this).parent().parent()[0]),
            sCallback: function (data) {
                alert('上传成功');
                window.location.reload();
            },
            eCallback: function (err) {
                console.log(err);
            }
        };
        window.base.uploadFile(params);
    });

</script>
