<?php require(APP_PATH.'/oiling/view/manager/common/header.html');?>
<style>

</style>
<div id="hd">
    <div class="hd-wrap ue-clear">
        <div class="top-light"></div>
        <h1 class="logo"></h1>
        <div class="login-info ue-clear">
            <div class="welcome ue-clear">欢迎您,&nbsp;<a style="color: #fff;" href="/user/center">&nbsp;{$account}</a>
            </div>
        </div>
        <div class="toolbar ue-clear">
            <a href="/" class="home-btn">首页</a>
            <a href="javascript:;" class="quit-btn exit"></a>
        </div>
    </div>
</div>
<div id="bd">
    <div class="sbrh_tu">
        <div class="shenhua-hover-box">
            <div class="shenhua-title" {if condition="empty($warningMessage)"}style="background-color: #0572c1;"{/if}>
                <img src="__IMG__/jbt-1.png" width="50" height="50">
                <span>{if condition="empty($warningMessage)"}无设备报警{else/}警报：{$StandardCount}个润滑点需要润滑{/if}</span>
                {if condition="!empty($warningMessage)"}
            </div>
            <ul class="shenhua-list">
                {foreach $warningMessage as $v}
                <li>
                    <a href="/oiling/equdetail/{$v.equ_key_no}" target="_blank" {if condition="$v.status==3" }
                       style="color: #ee6b0c;" {/if}>【{$v.equ_name}】{$v.equ_oil_name} 当前状态：{if
                    condition="$v.status===2"}临近{else/}超期{/if}</a>

                </li>
                {/foreach}
            </ul>
            {/if}
        </div>
        <div class="shenhua-hover-box shenhua-oil-warning">
            <div class="shenhua-title" {if condition="empty($OilAnalysisList)"}style="background-color: #0572c1;"{/if}>
                <img src="__IMG__/jbt-1.png" width="50" height="50">
                <span>{if condition="empty($OilAnalysisList)"}无异常化验指标{else/}警报：{$AnalysisCount}个润滑点化验指标异常{/if}</span>
                {if condition="!empty($OilAnalysisList)"}
            </div>
            <ul class="shenhua-list">
                {foreach $OilAnalysisList as $v}
                <li>
                    <a href="/oiling/equdetail/{$v.equ_key_no}" target="_blank">【{$v.equ_name}】{$v.equ_oil_name} 当前状态：{$v.oil_status}</a>

                </li>
                {/foreach}
            </ul>
            {/if}
        </div>
    </div>
    <img src="__IMG__/bg.jpg" width="100%">
</div>

<div class="sbrh_nav">
    <ul>
        <li><a href="standard">设备润滑标准</a></li>
        <li><a href="info">润滑提示与记录</a></li>
        <li><a href="analysis">油脂化验指标分析</a></li>
        <li><a href="oildetail">润滑保养成本管理</a></li>
    </ul>
</div>

</div>
<div id="ft" class="ue-clear">
    <div class="ft-left">

        <em>版权所有：赵奇创新工作室</em>
    </div>
    <div class="ft-right">

        <em>技术支持：非同科技</em>
    </div>
</div>
</div>
<?php require(APP_PATH.'/oiling/view/manager/common/exitDialog.html');?>
<?php require(APP_PATH.'/oiling/view/manager/common/footer.html');?>
