<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>设备润滑管理</title>
</head>
<link rel="stylesheet" href="__CSS__/bootstrap.min.css">
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <h3>
                设备润滑管理
            </h3>
            <nav class="navbar navbar-default" role="navigation">

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="#">设备状态</a>
                        </li>
                        <li class="">
                            <a href="#">设备润滑标准</a>
                        </li>
                        <li>
                            <a href="#">设备提示与记录</a>
                        </li>
                        <li>
                            <a href="#">油脂化验分析</a>
                        </li>
                        <li>
                            <a href="#">润滑保养成本管理</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#">用户名</a>
                        </li>

                        <li>
                            <a href="#">系统管理</a>
                        </li>

                        <li>
                            <a href="#">个人中心</a>
                        </li>
                        <li>
                            <a href="#">退出</a>
                        </li>
                    </ul>
                </div>

            </nav>
            <div class="alert alert-success alert-dismissable">
                <h4>
                    无报警 <a href="">【查看设备状态】</a>
                </h4>
            </div>
            <img src="__IMG__/equ.jpg" height="" width=""/>
        </div>
    </div>
</div>
</body>
</html>